body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u892 {
  position:absolute;
  left:2px;
  top:342px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:199px;
  top:73px;
  width:579px;
  height:399px;
  overflow:hidden;
  visibility:hidden;
}
#u893_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u893_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:389px;
}
#u894 {
  position:absolute;
  left:63px;
  top:-7px;
  width:496px;
  height:389px;
}
#u895 {
  position:absolute;
  left:2px;
  top:186px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u893_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:348px;
}
#u896 {
  position:absolute;
  left:99px;
  top:0px;
  width:417px;
  height:348px;
}
#u897 {
  position:absolute;
  left:2px;
  top:166px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u899 {
  position:absolute;
  left:367px;
  top:621px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u900 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u901 {
  position:absolute;
  left:281px;
  top:621px;
  width:76px;
  height:40px;
  font-size:18px;
}
#u902 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u904 {
  position:absolute;
  left:855px;
  top:462px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u905 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u906 {
  position:absolute;
  left:855px;
  top:422px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u907 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u908 {
  position:absolute;
  left:855px;
  top:502px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u909 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u910 {
  position:absolute;
  left:855px;
  top:542px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u911 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u912 {
  position:absolute;
  left:855px;
  top:582px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:855px;
  top:622px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u915 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u916 {
  position:absolute;
  left:855px;
  top:350px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u917 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u918 {
  position:absolute;
  left:199px;
  top:123px;
  width:579px;
  height:399px;
  overflow:hidden;
}
#u918_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u918_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:399px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:399px;
}
#u920 {
  position:absolute;
  left:2px;
  top:192px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u918_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:323px;
}
#u921 {
  position:absolute;
  left:63px;
  top:-7px;
  width:496px;
  height:323px;
}
#u922 {
  position:absolute;
  left:2px;
  top:154px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u918_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:279px;
}
#u923 {
  position:absolute;
  left:63px;
  top:-7px;
  width:496px;
  height:279px;
}
#u924 {
  position:absolute;
  left:2px;
  top:132px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u918_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:254px;
}
#u925 {
  position:absolute;
  left:63px;
  top:-7px;
  width:496px;
  height:254px;
}
#u926 {
  position:absolute;
  left:2px;
  top:119px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:399px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u918_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:276px;
}
#u927 {
  position:absolute;
  left:63px;
  top:-7px;
  width:496px;
  height:276px;
}
#u928 {
  position:absolute;
  left:2px;
  top:130px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:190px;
}
#u929 {
  position:absolute;
  left:847px;
  top:95px;
  width:73px;
  height:190px;
}
#u930 {
  position:absolute;
  left:2px;
  top:87px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:6px;
  top:84px;
  width:137px;
  height:405px;
}
#u932_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u934 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u934_img.selected {
}
#u934.selected {
}
#u935 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u937 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u933_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u938 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u940 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u941 {
  position:absolute;
  left:20px;
  top:40px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u943 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u944 {
  position:absolute;
  left:20px;
  top:60px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u946 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u947 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u949 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u950 {
  position:absolute;
  left:20px;
  top:100px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u952 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u953 {
  position:absolute;
  left:0px;
  top:120px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u954 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u954_img.selected {
}
#u954.selected {
}
#u955 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u957 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u953_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958 {
  position:absolute;
  left:20px;
  top:20px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u960 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u961 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u963 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u964 {
  position:absolute;
  left:20px;
  top:60px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u966 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u967 {
  position:absolute;
  left:0px;
  top:200px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u968 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u968_img.selected {
}
#u968.selected {
}
#u969 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u971 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u967_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u974 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u975 {
  position:absolute;
  left:0px;
  top:240px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u976 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u976_img.selected {
}
#u976.selected {
}
#u977 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u979 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u975_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980 {
  position:absolute;
  left:20px;
  top:20px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u982 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:20px;
  top:40px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u985 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u986 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u987 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u988 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u989 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u991 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u992 {
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u994 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u995 {
  position:absolute;
  left:20px;
  top:120px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u997 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u998 {
  position:absolute;
  left:20px;
  top:140px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:794px;
  top:133px;
  width:126px;
  height:77px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:866px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:794px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u1007 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
