body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../课程详情页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:310px;
    top:216px;
    width:701px;
    height:42px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:48px;
}

.u1 {
    position:absolute;
    left:2px;
    top:13px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u2_container {
    position:absolute;
    left:41px;
    top:1262px;
    width:970px;
    height:98px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u3 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:233px;
    top:1287px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u5_container {
    position:absolute;
    left:41px;
    top:1222px;
    width:970px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u7_container {
    position:absolute;
    left:297px;
    top:1228px;
    width:38px;
    height:28px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:345px;
    top:1234px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u10_container {
    position:absolute;
    left:473px;
    top:1228px;
    width:38px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:521px;
    top:1234px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u13_container {
    position:absolute;
    left:649px;
    top:1228px;
    width:38px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:697px;
    top:1232px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../课程详情页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:30px;
    top:140px;
    width:230px;
    height:133px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:133px;
}

.u18 {
    position:absolute;
    left:2px;
    top:58px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:310px;
    top:140px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../课程详情页_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u20 {
    position:absolute;
    left:310px;
    top:174px;
    width:701px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:330px;
    top:226px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:330px;
    top:282px;
    width:21px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:366px;
    top:285px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../课程详情页_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u25 {
    position:absolute;
    left:366px;
    top:311px;
    width:630px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:336px;
    top:286px;
    width:10px;
    height:13px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../课程详情页_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:340px;
    top:302px;
    width:2px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u30_container {
    position:absolute;
    left:330px;
    top:328px;
    width:21px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u32_container {
    position:absolute;
    left:336px;
    top:332px;
    width:10px;
    height:13px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:366px;
    top:328px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../课程详情页_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u35 {
    position:absolute;
    left:366px;
    top:355px;
    width:630px;
    height:10px;
    
}

.u36_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u36_container {
    position:absolute;
    left:330px;
    top:373px;
    width:21px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u38_container {
    position:absolute;
    left:336px;
    top:377px;
    width:10px;
    height:13px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:366px;
    top:372px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../课程详情页_files/u28_normal.png');
}

.u41_container {
    position:absolute;
    left:340px;
    top:344px;
    width:2px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../课程详情页_files/u28_normal.png');
}

.u43_container {
    position:absolute;
    left:340px;
    top:391px;
    width:2px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u45_container {
    position:absolute;
    left:330px;
    top:419px;
    width:21px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../课程详情页_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u47 {
    position:absolute;
    left:366px;
    top:401px;
    width:630px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:366px;
    top:418px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../课程详情页_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u49 {
    position:absolute;
    left:366px;
    top:441px;
    width:630px;
    height:10px;
    
}

.u50_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:336px;
    top:425px;
    width:9px;
    height:1px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u52_container {
    position:absolute;
    left:336px;
    top:429px;
    width:9px;
    height:1px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u54_container {
    position:absolute;
    left:336px;
    top:433px;
    width:9px;
    height:1px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:366px;
    top:464px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../课程详情页_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u57 {
    position:absolute;
    left:366px;
    top:490px;
    width:630px;
    height:10px;
    
}

.u58_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:340px;
    top:481px;
    width:2px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:330px;
    top:507px;
    width:21px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u62_container {
    position:absolute;
    left:336px;
    top:511px;
    width:10px;
    height:13px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:366px;
    top:507px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../课程详情页_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u65 {
    position:absolute;
    left:366px;
    top:534px;
    width:630px;
    height:10px;
    
}

.u66_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:330px;
    top:552px;
    width:21px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u68_container {
    position:absolute;
    left:336px;
    top:556px;
    width:10px;
    height:13px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:366px;
    top:551px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u71_container {
    position:absolute;
    left:340px;
    top:523px;
    width:2px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u73_container {
    position:absolute;
    left:340px;
    top:570px;
    width:2px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u75_container {
    position:absolute;
    left:330px;
    top:598px;
    width:21px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../课程详情页_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u77 {
    position:absolute;
    left:366px;
    top:580px;
    width:630px;
    height:10px;
    
}

.u78 {
    position:absolute;
    left:366px;
    top:597px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../课程详情页_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u79 {
    position:absolute;
    left:366px;
    top:620px;
    width:630px;
    height:10px;
    
}

.u80_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u80_container {
    position:absolute;
    left:336px;
    top:604px;
    width:9px;
    height:1px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u81 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u82_container {
    position:absolute;
    left:336px;
    top:608px;
    width:9px;
    height:1px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u84_container {
    position:absolute;
    left:336px;
    top:612px;
    width:9px;
    height:1px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u85 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../课程详情页_files/u28_normal.png');
}

.u86_container {
    position:absolute;
    left:339px;
    top:437px;
    width:2px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u88_container {
    position:absolute;
    left:330px;
    top:461px;
    width:21px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u90_container {
    position:absolute;
    left:336px;
    top:465px;
    width:10px;
    height:13px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u91 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../课程详情页_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:30px;
    top:40px;
    width:981px;
    height:80px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:987px;
    height:86px;
}

.u93 {
    position:absolute;
    left:2px;
    top:32px;
    width:977px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../课程详情页_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:70px;
    top:60px;
    width:70px;
    height:40px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:46px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:160px;
    top:72px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:310px;
    top:63px;
    width:427px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:310px;
    top:92px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:970px;
    top:326px;
    width:25px;
    height:26px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u101_container {
    position:absolute;
    left:970px;
    top:415px;
    width:25px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u103_container {
    position:absolute;
    left:970px;
    top:459px;
    width:25px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u105_container {
    position:absolute;
    left:970px;
    top:502px;
    width:25px;
    height:26px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u107_container {
    position:absolute;
    left:970px;
    top:551px;
    width:25px;
    height:26px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u109_container {
    position:absolute;
    left:970px;
    top:592px;
    width:25px;
    height:26px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u111_container {
    position:absolute;
    left:1066px;
    top:447px;
    width:21px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u113_container {
    position:absolute;
    left:1072px;
    top:451px;
    width:10px;
    height:13px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u114 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../课程详情页_files/u22_normal.png');
}

.u115_container {
    position:absolute;
    left:1066px;
    top:482px;
    width:21px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u117_container {
    position:absolute;
    left:1072px;
    top:488px;
    width:9px;
    height:1px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u118 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u119_container {
    position:absolute;
    left:1072px;
    top:492px;
    width:9px;
    height:1px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u120 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u121_container {
    position:absolute;
    left:1072px;
    top:496px;
    width:9px;
    height:1px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u122 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:1097px;
    top:451px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:1097px;
    top:486px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u125_container {
    position:absolute;
    left:1068px;
    top:520px;
    width:25px;
    height:26px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u126 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:1098px;
    top:525px;
    width:238px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:1066px;
    top:234px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:1066px;
    top:276px;
    width:240px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../课程详情页_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:971px;
    top:285px;
    width:20px;
    height:23px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:23px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../课程详情页_files/u130_normal.png');
}

.u132_container {
    position:absolute;
    left:1068px;
    top:567px;
    width:20px;
    height:23px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:23px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:1098px;
    top:571px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:1068px;
    top:614px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u136_container {
    position:absolute;
    left:330px;
    top:746px;
    width:21px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:366px;
    top:749px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_line {
    background-image: url('../课程详情页_files/u139_line.png');
}

.u139_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u139 {
    position:absolute;
    left:366px;
    top:775px;
    width:630px;
    height:10px;
    
}

.u140_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u140_container {
    position:absolute;
    left:336px;
    top:750px;
    width:10px;
    height:13px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u141 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u142_container {
    position:absolute;
    left:340px;
    top:766px;
    width:2px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u144_container {
    position:absolute;
    left:330px;
    top:792px;
    width:21px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u146_container {
    position:absolute;
    left:336px;
    top:796px;
    width:10px;
    height:13px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u147 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:366px;
    top:792px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_line {
    background-image: url('../课程详情页_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u149 {
    position:absolute;
    left:366px;
    top:819px;
    width:630px;
    height:10px;
    
}

.u150_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u150_container {
    position:absolute;
    left:330px;
    top:837px;
    width:21px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u152_container {
    position:absolute;
    left:336px;
    top:841px;
    width:10px;
    height:13px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u153 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:366px;
    top:836px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u155_container {
    position:absolute;
    left:340px;
    top:808px;
    width:2px;
    height:30px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u156 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../课程详情页_files/u58_normal.png');
}

.u157_container {
    position:absolute;
    left:340px;
    top:855px;
    width:2px;
    height:30px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u158 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_line {
    background-image: url('../课程详情页_files/u159_line.png');
}

.u159_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u159 {
    position:absolute;
    left:366px;
    top:865px;
    width:630px;
    height:10px;
    
}

.u160 {
    position:absolute;
    left:366px;
    top:882px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_line {
    background-image: url('../课程详情页_files/u161_line.png');
}

.u161_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u161 {
    position:absolute;
    left:366px;
    top:905px;
    width:630px;
    height:10px;
    
}

.u162 {
    position:absolute;
    left:366px;
    top:928px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_line {
    background-image: url('../课程详情页_files/u163_line.png');
}

.u163_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u163 {
    position:absolute;
    left:366px;
    top:954px;
    width:630px;
    height:10px;
    
}

.u164_normal {
    background-image: url('../课程详情页_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:340px;
    top:945px;
    width:2px;
    height:30px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u165 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../课程详情页_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:330px;
    top:971px;
    width:21px;
    height:20px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u168_container {
    position:absolute;
    left:336px;
    top:975px;
    width:10px;
    height:13px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u169 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:366px;
    top:971px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_line {
    background-image: url('../课程详情页_files/u171_line.png');
}

.u171_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u171 {
    position:absolute;
    left:366px;
    top:998px;
    width:630px;
    height:10px;
    
}

.u172_normal {
    background-image: url('../课程详情页_files/u166_normal.png');
}

.u172_container {
    position:absolute;
    left:330px;
    top:1016px;
    width:21px;
    height:20px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u174_container {
    position:absolute;
    left:336px;
    top:1020px;
    width:10px;
    height:13px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u175 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:366px;
    top:1015px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../课程详情页_files/u164_normal.png');
}

.u177_container {
    position:absolute;
    left:340px;
    top:987px;
    width:2px;
    height:30px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u178 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../课程详情页_files/u164_normal.png');
}

.u179_container {
    position:absolute;
    left:340px;
    top:1034px;
    width:2px;
    height:30px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u180 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../课程详情页_files/u166_normal.png');
}

.u181_container {
    position:absolute;
    left:330px;
    top:1062px;
    width:21px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_line {
    background-image: url('../课程详情页_files/u183_line.png');
}

.u183_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u183 {
    position:absolute;
    left:366px;
    top:1044px;
    width:630px;
    height:10px;
    
}

.u184 {
    position:absolute;
    left:366px;
    top:1061px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_line {
    background-image: url('../课程详情页_files/u185_line.png');
}

.u185_line {
    position:absolute;
    left:0px;
    top:4px;
    width:630px;
    height:3px;
}

.u185 {
    position:absolute;
    left:366px;
    top:1084px;
    width:630px;
    height:10px;
    
}

.u186_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u186_container {
    position:absolute;
    left:336px;
    top:1068px;
    width:9px;
    height:1px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u187 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u188_container {
    position:absolute;
    left:336px;
    top:1072px;
    width:9px;
    height:1px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u189 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u190_container {
    position:absolute;
    left:336px;
    top:1076px;
    width:9px;
    height:1px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u191 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../课程详情页_files/u164_normal.png');
}

.u192_container {
    position:absolute;
    left:339px;
    top:901px;
    width:2px;
    height:30px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:36px;
}

.u193 {
    position:absolute;
    left:2px;
    top:7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../课程详情页_files/u166_normal.png');
}

.u194_container {
    position:absolute;
    left:330px;
    top:925px;
    width:21px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../课程详情页_files/u26_normal.png');
}

.u196_container {
    position:absolute;
    left:336px;
    top:929px;
    width:10px;
    height:13px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:19px;
}

.u197 {
    position:absolute;
    left:2px;
    top:-2px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u198_container {
    position:absolute;
    left:975px;
    top:790px;
    width:25px;
    height:26px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u199 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u200_container {
    position:absolute;
    left:975px;
    top:879px;
    width:25px;
    height:26px;
}

#u200_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u201 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u202_container {
    position:absolute;
    left:975px;
    top:923px;
    width:25px;
    height:26px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u203 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u204_container {
    position:absolute;
    left:975px;
    top:966px;
    width:25px;
    height:26px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u205 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u206_container {
    position:absolute;
    left:975px;
    top:1015px;
    width:25px;
    height:26px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u207 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../课程详情页_files/u99_normal.png');
}

.u208_container {
    position:absolute;
    left:975px;
    top:1056px;
    width:25px;
    height:26px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u209 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../课程详情页_files/u130_normal.png');
}

.u210_container {
    position:absolute;
    left:976px;
    top:749px;
    width:20px;
    height:23px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:23px;
}

.u211 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../课程详情页_files/u212_normal.png');
}

.u212_container {
    position:absolute;
    left:30px;
    top:0px;
    width:980px;
    height:26px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u213 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:925px;
    top:5px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../课程详情页_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:985px;
    top:6px;
    width:20px;
    height:16px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u216 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:840px;
    top:3px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:35px;
    top:7px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:1066px;
    top:361px;
    width:300px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../课程详情页_files/u60_normal.png');
}

.u220_container {
    position:absolute;
    left:330px;
    top:883px;
    width:21px;
    height:20px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u221 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u222_container {
    position:absolute;
    left:336px;
    top:889px;
    width:9px;
    height:1px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u223 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u224_container {
    position:absolute;
    left:336px;
    top:893px;
    width:9px;
    height:1px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u225 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../课程详情页_files/u50_normal.png');
}

.u226_container {
    position:absolute;
    left:336px;
    top:897px;
    width:9px;
    height:1px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:7px;
}

.u227 {
    position:absolute;
    left:2px;
    top:-8px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:1066px;
    top:260px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:30px;
    top:306px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_menu {
    background-image: url('../课程详情页导航_files/u230_menu.png');
}

.u230_menu {
    position:absolute;
    left:27px;
    top:337px;
    width:239px;
    height:81px;
}

#u230_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u231 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u232_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u232_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u232_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u233 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u234_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u234_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u235 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_menu {
    background-image: url('../课程详情页导航_files/u236_menu.png');
}

.u236_menu {
    position:absolute;
    left:27px;
    top:479px;
    width:239px;
    height:81px;
}

#u236_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u237 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u238_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u238_normal {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u238_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u239 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u240_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u240_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u241 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:30px;
    top:450px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_menu {
    background-image: url('../课程详情页导航_files/u243_menu.png');
}

.u243_menu {
    position:absolute;
    left:27px;
    top:681px;
    width:239px;
    height:45px;
}

#u243_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

#u244 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:41px
}

.u245_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u245_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u245_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u246 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247 {
    position:absolute;
    left:30px;
    top:652px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248_menu {
    background-image: url('../课程详情页导航_files/u248_menu.png');
}

.u248_menu {
    position:absolute;
    left:27px;
    top:551px;
    width:239px;
    height:81px;
}

#u248_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u249 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u250_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u250_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u250_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u250_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u251 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u252_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u252_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u253 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_normal {
    background-image: url('../课程详情页导航_files/u254_normal.png');
}

.u254_container {
    position:absolute;
    left:239px;
    top:493px;
    width:10px;
    height:16px;
}

#u254_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:22px;
}

.u255 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../课程详情页_files/u0_normal.png');
}

.u257_container {
    position:absolute;
    left:310px;
    top:678px;
    width:701px;
    height:42px;
}

#u257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:48px;
}

.u258 {
    position:absolute;
    left:2px;
    top:13px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:330px;
    top:688px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260_normal {
    background-image: url('../课程详情页_files/u260_normal.png');
}

.u260_container {
    position:absolute;
    left:891px;
    top:63px;
    width:100px;
    height:30px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u261 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

