body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7883 {
  position:absolute;
  left:0px;
  top:28px;
  width:1187px;
  height:91px;
}
#u7884 {
  position:absolute;
  left:2px;
  top:38px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7885 {
  position:absolute;
  left:1077px;
  top:65px;
  width:80px;
  height:30px;
}
#u7885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7886 {
  position:absolute;
  left:29px;
  top:47px;
  width:75px;
  height:16px;
  text-align:center;
}
#u7887 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7888 {
  position:absolute;
  left:367px;
  top:41px;
  width:31px;
  height:16px;
}
#u7889 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u7890 {
  position:absolute;
  left:425px;
  top:35px;
  width:159px;
  height:25px;
}
#u7890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7890_input:disabled {
  color:grayText;
}
#u7891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7891 {
  position:absolute;
  left:669px;
  top:42px;
  width:75px;
  height:16px;
  text-align:center;
}
#u7892 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7893 {
  position:absolute;
  left:743px;
  top:35px;
  width:160px;
  height:25px;
}
#u7893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7893_input:disabled {
  color:grayText;
}
#u7894 {
  position:absolute;
  left:104px;
  top:40px;
  width:160px;
  height:25px;
}
#u7894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7894_input:disabled {
  color:grayText;
}
#u7895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7895 {
  position:absolute;
  left:842px;
  top:641px;
  width:53px;
  height:16px;
  text-align:center;
}
#u7896 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u7897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7897 {
  position:absolute;
  left:30px;
  top:82px;
  width:75px;
  height:16px;
  text-align:center;
}
#u7898 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7899 {
  position:absolute;
  left:104px;
  top:75px;
  width:160px;
  height:25px;
}
#u7899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7899_input:disabled {
  color:grayText;
}
#u7900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:798px;
}
#u7900 {
  position:absolute;
  left:0px;
  top:129px;
  width:1485px;
  height:798px;
}
#u7901 {
  position:absolute;
  left:2px;
  top:391px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
