body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1114px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2059 {
  position:absolute;
  left:453px;
  top:97px;
  width:661px;
  height:16px;
  color:#FF0000;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2061 {
  position:absolute;
  left:15px;
  top:24px;
  width:413px;
  height:27px;
  color:#FFFFFF;
  text-align:left;
}
#u2062 {
  position:absolute;
  left:2px;
  top:6px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:15px;
  top:50px;
  width:413px;
  height:334px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:159px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2065 {
  position:absolute;
  left:29px;
  top:31px;
  width:105px;
  height:16px;
  color:#FFFFFF;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2067 {
  position:absolute;
  left:79px;
  top:313px;
  width:80px;
  height:30px;
}
#u2067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2068 {
  position:absolute;
  left:259px;
  top:313px;
  width:80px;
  height:30px;
}
#u2068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2069 {
  position:absolute;
  left:414px;
  top:28px;
  width:8px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:92px;
  top:125px;
  width:31px;
  height:16px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:92px;
  top:177px;
  width:44px;
  height:16px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2075 {
  position:absolute;
  left:79px;
  top:177px;
  width:6px;
  height:23px;
  color:#FF0000;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:92px;
  top:234px;
  width:57px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2079 {
  position:absolute;
  left:79px;
  top:234px;
  width:27px;
  height:23px;
  color:#FF0000;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2081 {
  position:absolute;
  left:163px;
  top:116px;
  width:159px;
  height:25px;
}
#u2081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2081_input:disabled {
  color:grayText;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
}
#u2082 {
  position:absolute;
  left:159px;
  top:225px;
  width:77px;
  height:25px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2084 {
  position:absolute;
  left:92px;
  top:276px;
  width:225px;
  height:16px;
  color:#FF0000;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2086 {
  position:absolute;
  left:33px;
  top:62px;
  width:382px;
  height:26px;
  color:#FF0000;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u2088 {
  position:absolute;
  left:163px;
  top:168px;
  width:160px;
  height:25px;
}
#u2088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2088_input:disabled {
  color:grayText;
}
