body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../成绩管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:192px;
    top:300px;
    width:813px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:192px;
    top:337px;
    width:813px;
    height:32px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u9_selected {
    background-image: url('../教师中心导航_files/u7_selected.png');
}

.u9_normal {
    background-image: url('../教师中心导航_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u12 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u15 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u18 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u21 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_selected {
    background-image: url('../教师中心导航_files/u7_selected.png');
}

.u32_normal {
    background-image: url('../教师中心导航_files/u7_normal.png');
}

.u32_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u38 {
    position:absolute;
    left:3px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u41 {
    position:absolute;
    left:3px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u44 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u46_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u47 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u49_normal {
    background-image: url('../教师中心头部_files/u110_normal.png');
}

.u49_container {
    position:absolute;
    left:30px;
    top:50px;
    width:980px;
    height:150px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:156px;
}

.u50 {
    position:absolute;
    left:2px;
    top:67px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../教师中心头部_files/u112_normal.png');
}

.u51_container {
    position:absolute;
    left:50px;
    top:63px;
    width:121px;
    height:124px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:124px;
}

.u52 {
    position:absolute;
    left:2px;
    top:54px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:194px;
    top:66px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:194px;
    top:142px;
    width:219px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:582px;
    top:75px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:700px;
    top:74px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:452px;
    top:74px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:194px;
    top:178px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../教师中心头部_files/u120_normal.png');
}

.u59_container {
    position:absolute;
    left:194px;
    top:100px;
    width:50px;
    height:31px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:37px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../教师中心头部_files/u120_normal.png');
}

.u61_container {
    position:absolute;
    left:254px;
    top:100px;
    width:50px;
    height:31px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:37px;
}

.u62 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../教师中心头部_files/u124_normal.png');
}

.u63_container {
    position:absolute;
    left:840px;
    top:101px;
    width:110px;
    height:39px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:45px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:476px;
    top:127px;
    width:30px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:602px;
    top:127px;
    width:36px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:714px;
    top:125px;
    width:36px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../教师中心头部_files/u129_line.png');
}

.u68_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u68 {
    position:absolute;
    left:420px;
    top:63px;
    width:10px;
    height:121px;
    
}

.u69_line {
    background-image: url('../教师中心头部_files/u130_line.png');
}

.u69_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u69 {
    position:absolute;
    left:550px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u70_line {
    background-image: url('../教师中心头部_files/u131_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u70 {
    position:absolute;
    left:674px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u71_line {
    background-image: url('../教师中心头部_files/u132_line.png');
}

.u71_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u71 {
    position:absolute;
    left:789px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u72_normal {
    background-image: url('../教师中心头部_files/u133_normal.png');
}

.u72_container {
    position:absolute;
    left:840px;
    top:157px;
    width:110px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../成绩管理_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u75 {
    position:absolute;
    left:192px;
    top:280px;
    width:818px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:192px;
    top:250px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:210px;
    top:343px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../成绩管理_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u78 {
    position:absolute;
    left:192px;
    top:406px;
    width:813px;
    height:10px;
    
}

.u79 {
    position:absolute;
    left:260px;
    top:380px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:590px;
    top:380px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:580px;
    top:305px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:710px;
    top:305px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:891px;
    top:305px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:710px;
    top:380px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:891px;
    top:383px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:207px;
    top:305px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../成绩管理_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u87 {
    position:absolute;
    left:192px;
    top:453px;
    width:813px;
    height:10px;
    
}

.u88 {
    position:absolute;
    left:260px;
    top:427px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:590px;
    top:427px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:710px;
    top:427px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:892px;
    top:427px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u92_container {
    position:absolute;
    left:193px;
    top:459px;
    width:813px;
    height:32px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u93 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:211px;
    top:465px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../成绩管理_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u95 {
    position:absolute;
    left:193px;
    top:528px;
    width:813px;
    height:10px;
    
}

.u96 {
    position:absolute;
    left:261px;
    top:505px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:591px;
    top:502px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:711px;
    top:502px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:901px;
    top:502px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../成绩管理_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u100 {
    position:absolute;
    left:193px;
    top:575px;
    width:813px;
    height:10px;
    
}

.u101 {
    position:absolute;
    left:261px;
    top:549px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:591px;
    top:549px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:711px;
    top:549px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:901px;
    top:549px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u105_container {
    position:absolute;
    left:193px;
    top:582px;
    width:813px;
    height:32px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u106 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:211px;
    top:588px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../成绩管理_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u108 {
    position:absolute;
    left:193px;
    top:611px;
    width:813px;
    height:10px;
    
}

.u109_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u109_container {
    position:absolute;
    left:193px;
    top:618px;
    width:813px;
    height:32px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u110 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:211px;
    top:624px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../成绩管理_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:984px;
    top:626px;
    width:10px;
    height:15px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:21px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../成绩管理_files/u112_normal.png');
}

.u114_container {
    position:absolute;
    left:984px;
    top:590px;
    width:10px;
    height:15px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:21px;
}

.u115 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../成绩管理_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:981px;
    top:351px;
    width:15px;
    height:10px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:16px;
}

.u117 {
    position:absolute;
    left:2px;
    top:-3px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../成绩管理_files/u116_normal.png');
}

.u118_container {
    position:absolute;
    left:979px;
    top:470px;
    width:15px;
    height:10px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:16px;
}

.u119 {
    position:absolute;
    left:2px;
    top:-3px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_line {
    background-image: url('../成绩管理_files/u120_line.png');
}

.u120_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u120 {
    position:absolute;
    left:192px;
    top:644px;
    width:813px;
    height:10px;
    
}

.u121_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u121_container {
    position:absolute;
    left:192px;
    top:651px;
    width:813px;
    height:32px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u122 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:210px;
    top:657px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../成绩管理_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:0px;
    top:4px;
    width:813px;
    height:3px;
}

.u124 {
    position:absolute;
    left:192px;
    top:680px;
    width:813px;
    height:10px;
    
}

.u125_normal {
    background-image: url('../成绩管理_files/u2_normal.png');
}

.u125_container {
    position:absolute;
    left:192px;
    top:687px;
    width:813px;
    height:32px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:819px;
    height:38px;
}

.u126 {
    position:absolute;
    left:2px;
    top:8px;
    width:809px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:210px;
    top:693px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../成绩管理_files/u112_normal.png');
}

.u128_container {
    position:absolute;
    left:983px;
    top:695px;
    width:10px;
    height:15px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:21px;
}

.u129 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../成绩管理_files/u112_normal.png');
}

.u130_container {
    position:absolute;
    left:983px;
    top:659px;
    width:10px;
    height:15px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:21px;
}

.u131 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../教师端顶部_files/u146_normal.png');
}

.u132_container {
    position:absolute;
    left:30px;
    top:1px;
    width:980px;
    height:26px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u133 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:810px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../教师端顶部_files/u149_normal.png');
}

.u135_container {
    position:absolute;
    left:870px;
    top:7px;
    width:20px;
    height:16px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u136 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:35px;
    top:8px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../教师端顶部_files/u152_normal.png');
}

.u138_container {
    position:absolute;
    left:900px;
    top:3px;
    width:78px;
    height:23px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:29px;
}

.u139 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

