<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>成绩审核-修改</title>
	<link href="../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../../../common/css/reset.css" rel="stylesheet"/>
	<link href="../../../common/css/gta-layout.css" rel="stylesheet"/>
	<link href="../../../common/css/sideBar.css" rel="stylesheet"/>
	<link href="../../../common/css/popup.css" rel="stylesheet"/>
	<link href="../../../common/css/skins.css" rel="stylesheet"/>
	<link href="../../../common/css/basic-data.css" rel="stylesheet" />
</head>
<body page-auth-code="ScoreService_Audit_Score_Audit">
<form id="addForm">
	<div class="pop-con box900">
		<!-- 表格区域 开始 ------>
		<div class="sub-content">
			<div class="box">
				<div class="box-body">
					<div class="mb10">课程/环节：<span id="courseNameOrNo"></span><span class="ml80">录入方式：<span id="entryType"></span></span><span class="ml80">录入人：<span id="userNameOrNo"></span></span></div>
					<div class="">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th rowspan="2" class="width48">序号</th>
								<th rowspan="2">学号</th>
								<th rowspan="2">姓名</th>
								<th rowspan="2" class="width48">性别</th>
								<th colspan="6">修改前</th>
								<th colspan="6">修改后</th>
								<th rowspan="2" class="width70">成绩类型</th>
								<th rowspan="2" class="width120">修改时间</th>
								<th rowspan="2">修改原因</th>
							</tr>
                            <tr>
                              <th class="width48">平时<br/>成绩</th>
                              <th class="width48">期中<br/>成绩</th>
                              <th class="width48">期末<br/>成绩</th>
                              <th class="width48">技能<br/>成绩</th>
                              <th class="width48">总评<br/>成绩</th>
                              <th class="width48">特殊<br/>情况</th>
								<th class="width48">平时<br/>成绩</th>
								<th class="width48">期中<br/>成绩</th>
								<th class="width48">期末<br/>成绩</th>
								<th class="width48">技能<br/>成绩</th>
								<th class="width48">总评<br/>成绩</th>
								<th class="width48">特殊<br/>情况</th>
							  </tr>
							</thead>
							<tbody id="tbodycontent" class="autoheight-normal">
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 表格区域 结束 --- -->
	</div>
</form>
<!-- 内容框架 结束 ------------------------------------------------------------>
<!-- jquery版本 -->
<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<!-- bootstrap -->
<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
<!-- 弹窗 -->
<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
<!-- 模块渲染template -->
<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
<!-- 分页 -->
<script src="../../../common/js/base/core/page/pagination.js"></script>
<link href="../../../common/js/base/core/page/pagination.css" rel="stylesheet"/>
<!-- 验证 -->
<script src="../../../common/js/base/jquery/jquery.validate.js"></script>
<script src="../../../common/js/base/jquery/jquery.validate.custom.js"></script>
<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- 列表内容 -->
<script id="bodyContentImpl" type="text/x-jquery-tmpl">
	<tr style="min-height:23px;">
		<td class="width48 lheight23" style="height:23px;" title="${$index+1}">${$index+1}</td>
		<td class=" lheight23 text-l" title="${studentNo}">${studentNo}</td>
		<td style="height:23px;" class="text-l" title="${studentName}">${studentName}</td>
		<td style="height:23px;" class="width48" title="${sexName}">${sexName}</td>
		<td style="height:23px;" class="width48 text-r" title="${usualScoreOld}">${usualScoreOld}</td>
		<td style="height:23px;" class="width48 text-r" title="${midtermScoreOld}">${midtermScoreOld}</td>
		<td style="height:23px;" class="width48 text-r" title="${endtermScoreOld}">${endtermScoreOld}</td>
		<td style="height:23px;" class="width48 text-r" title="${skillScoreOld}">${skillScoreOld}</td>
		<td style="height:23px;" class="width48 text-r" title="{{if scoreRegimenNameOld==null}}${totalScoreOld}{{else}}${scoreRegimenNameOld}{{/if}}">{{if scoreRegimenNameOld==null}}${totalScoreOld}{{else}}${scoreRegimenNameOld}{{/if}}</td>
		<td style="height:23px;" title="${vaSpecialName}">${vaSpecialName}</td>
		<td style="height:23px;" class="width48 text-r" title="${usualScore}">${usualScore}</td>
		<td style="height:23px;" class="width48 text-r" title="${midtermScore}">${midtermScore}</td>
		<td style="height:23px;" class="width48 text-r" title="${endtermScore}">${endtermScore}</td>
		<td style="height:23px;" class="width48 text-r" title="${skillScore}">${skillScore}</td>
		<td style="height:23px;" class="width48 text-r" title="{{if scoreRegimenName==null}}${totalScore}{{else}}${scoreRegimenName}{{/if}}">{{if scoreRegimenName==null}}${totalScore}{{else}}${scoreRegimenName}{{/if}}</td>
		<td style="height:23px;" title="${orSpecialName}">${orSpecialName}</td>
		<td style="height:23px;" class="width70" title="${scoreTypeName}">${scoreTypeName}</td>
		<td style="height:23px;" class="width120" title="${$item.format(entryTime,'yyyy-MM-dd hh:mm')}">${$item.format(entryTime,'yyyy-MM-dd hh:mm')}</td>
		<td style="height:23px;" class="text-l" title="${modifyReason}">${modifyReason}</td>
	</tr>
</script>
<script type="text/javascript">
	//方法引用
	seajs.config({
		paths : {
			"basePath" : "../../../common/js",
			"configPath" : "../../../common/js/config",
			"localPath" : "../js"
		}
	});
	seajs.use("localPath/scoreAuditForModify",function(scoreAuditForModify){
		scoreAuditForModify.init();
	});
	seajs.use("basePath/utils/authority");
</script>
</body>
</html>