<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>学生成绩档案</title>
	<link href="../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../../../common/css/reset.css" rel="stylesheet"/>
	<link href="../../../common/css/gta-layout.css" rel="stylesheet"/>
	<link href="../../../common/css/sideBar.css" rel="stylesheet"/>
	<link href="../../../common/css/popup.css" rel="stylesheet"/>
	<link href="../../../common/css/skins.css" rel="stylesheet"/>
	<link href="../../../common/css/basic-data.css" rel="stylesheet" />
</head>
<body page-auth-code="ScoreService_Query_ScoreRecord">
<!-- 内容框架 开始------------------------------------------------------------->
<div class="layout-index">
	<div class="container-fluid mb10">
		<div class="header-con ">
			<form id="queryForm">
				<div class="row">
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">年级：</label>
							<select class="form-control sel-com" name="grade" id="grade">
								<option value="">2017</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name"><i class="text-danger">*</i> 院系：</label>
							<select class="form-control sel-com" name="departmentId" id="departmentId">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name" class="min100"><i class="text-danger">*</i> 专业：</label>
							<select class="form-control sel-com" name="majorId" id="majorId">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name"><i class="text-danger">*</i> 班级：</label>
							<select class="form-control sel-com" name="classId" id="classId">
								<option value="">--请选择--</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">学号/姓名：</label>
							<input class="form-control inp-com" name="studentNoOrName" id="studentNoOrName" value="" maxlength="20" />
						</div>
					</div>
					<!--<div class="col-md-4 form-inline form-inp-con">-->
						<!--<div class="form-group">-->
							<!--<label for="name">课程/环节：</label>-->
							<!--<input class="form-control inp-com" name="courseOrTacheName" id="courseOrTacheName" value="" maxlength="20" />-->
						<!--</div>-->
					<!--</div>-->
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name" class="min100">是否在校生：</label>
							<select class="form-control sel-com" id="schoolStatusCode" name="schoolStatusCode">
								<option value="">全部</option>
								<option value="001" selected>是</option>
								<option value="002">否</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">成绩：</label>
							<input class="form-control sel50 inline-block" name="beginScore" id="beginScore" value="" /> - <input class="form-control sel50 inline-block" name="endScore" id="endScore" value="" />
						</div>
					</div>
					<input type="hidden" id="pageIndex" name="pageIndex" value="0" />
					<input type="hidden" id="pageSize" name="pageSize" value="1" />
				</div>
			</form>
			<button type="button" class="btn btn-primary header-btn"  name="query" id="query">查询</button>
		</div>
	</div>
	<!-- 正式内容区域 开始 ------>
	<div class="sub-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box-header">
					<span class="text-l"> 学生总数：<span class="text-danger" id="studentSum"></span></span>
					<span class="text-r"><button type="button" class="btn btn-success width-default mr10 pull-right" id="btnPrint" auth-code="ScoreService_Query_ScoreRecord_Print">打印</button></span>
				</div>
				<div id="tbodycontent" class="box">
					<!-- <div class="print-title"><p>国泰安学院学生成绩档案表</p></div>
					<div class=" mb10"><table width="100%"><tbody>
					<tr><td width="25%">院系：计算机学院</td><td>培养层次：本科</td><td>学制：2年</td><td>专业：软件工程</td></tr>
					<tr><td>班级：17软工1班</td><td> 入学日期：2017-09-08</td><td>毕业日期：2019-07-09</td><td>学生：[2017991001]张三</td></tr>
					</tbody></table></div>
					<div id="divBody">
						<div class="box-body">
							<div class=" tab50 pull-left">
								<div class="table-box">
									<table class="table table-bordered">
										<thead>
										<tr>
											<th>课程/环节</th>
											<th class="width48">类别</th>
											<th class="width60">学分</th>
											<th class="width70">成绩</th>
											<th class="width70">学分绩点</th>
										</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="5">2017-2018学年第一学期（平均成绩：95.0）</td>
											</tr>
	                                        <tr>
												<td class="text-l">[23423]大学计算机基础</td>
												<td class="width48">必修</td>
												<td class="width60">2.5</td>
												<td class="width70">95.0</td>
												<td class="width70">4.50</td>
											</tr>
	                                        <tr>
												<td class="text-l">[23423]大学计算机基础实践</td>
												<td class="width48">环节</td>
												<td class="width60">1.0</td>
												<td class="width70">95.0</td>
												<td class="width70">4.50</td>
											</tr>
	                                        <tr>
												<td colspan="5">2018-2019学年第二学期（平均成绩：95.0）</td>
											  </tr>
	                                        <tr>
												<td>&nbsp;</td>
												<td class="width48">&nbsp;</td>
												<td class="width60">&nbsp;</td>
												<td class="width70">&nbsp;</td>
												<td class="width70">&nbsp;</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td class="width48">&nbsp;</td>
												<td class="width60">&nbsp;</td>
												<td class="width70">&nbsp;</td>
												<td class="width70">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class=" tab50 pull-right">
								<div class="table-box">
									<table class="table table-bordered">
										<thead>
										<tr>
											<th>课程/环节</th>
											<th class="width48">类别</th>
											<th class="width60">学分</th>
											<th class="width70">成绩</th>
											<th class="width70">学分绩点</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td colspan="5">2018-2019学年第一学期（平均成绩：95.0）</td>
										  </tr>
                                        <tr>
											<td class="text-l">[23423]大学计算机基础</td>
											<td class="width48">必修</td>
											<td class="width60">2.5</td>
											<td class="width70">95.0</td>
											<td class="width70">4.50</td>
										</tr>
                                        <tr>
											<td class="text-l">[23423]大学计算机基础实践</td>
											<td class="width48">环节</td>
											<td class="width60">1.0</td>
											<td class="width70">95.0</td>
											<td class="width70">4.50</td>
										</tr>
                                        <tr>
											<td colspan="5">2018-2019学年第二学期（平均成绩：95.0）</td>
										  </tr>
                                        <tr>
											<td>&nbsp;</td>
											<td class="width48">&nbsp;</td>
											<td class="width60">&nbsp;</td>
											<td class="width70">&nbsp;</td>
											<td class="width70">&nbsp;</td>
										</tr>
                                        <tr>
											<td>&nbsp;</td>
											<td class="width48">&nbsp;</td>
											<td class="width60">&nbsp;</td>
											<td class="width70">&nbsp;</td>
											<td class="width70">&nbsp;</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
                        <div class="box-body">
							<div class="table-box">
								<table class="table table-bordered">
                                   <tbody>
	                                   <tr>
	                                   <td rowspan="2">毕业设计论文</td>
	                                   <td>题目</td>
	                                   <td></td>
	                                   <td rowspan="2">平均学分绩点</td>
	                                   <td rowspan="2">9.50</td>
	                                   </tr>
	                                   <tr>
	                                   <td>成绩</td>
	                                   <td></td>
	                                   </tr>
                                   </tbody>
                            	</table>
							</div>
                    	</div>

                    	<div class="box-body">
							<div class="table-box">
								<table class="table table-bordered">
                                    <tbody>
	                                    <tr>
		                                    <td><div class="pull-left">毕业资格审查：</div><div class="pull-right mt50">院系（盖章）<br/>年     <span class="ml20">月</span>      <span class="ml20">日</span></div></td>
		                                    <td><div class="pull-left">毕业资格审查：</div><div class="pull-right mt50">教务处（盖章）<br/>年     <span class="ml20">月</span>      <span class="ml20">日</span></div>
	                                    </tr>
                                    </tbody>
								</table>
								<div class=" pull-right">查询日期：2017-11-03</div>
							</div>
                    	</div> -->
					</div>
					<div class="text-center mt20" id="noData"><button type="button" class="btn-more mb10 text-center" name="" id="btnLoadMore">加载更多 <i class="fa fa-angle-double-down"></i> </button></div>
				</div>
			</div>
		</div>
		<!-- 正式内容区域 结束 --- -->
		<div id="printBody">
						
		</div>
	</div>
<!-- 内容框架 结束 ------------------------------------------------------------>
<!-- jquery版本 -->
<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<!-- bootstrap -->
<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
<!-- 弹窗 -->
<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
<!-- 模块渲染template -->
<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
<script src="../../../common/js/base/print/jquery.jqprint-0.3.js"></script>
<script src="../../../common/js/base/print/jquery-migrate-1.2.1.min.js"></script>
<!-- 分页 -->
<script src="../../../common/js/base/core/page/pagination.js"></script>
<link href="../../../common/js/base/core/page/pagination.css" rel="stylesheet"/>
<!-- 验证 -->
<script src="../../../common/js/base/jquery/jquery.validate.js"></script>
<script src="../../../common/js/base/jquery/jquery.validate.custom.js"></script>
<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- 列表内容 -->
<script id="bodyContentImpl" type="text/x-jquery-tmpl">
	<div class="print-title"><p>${schoolName}学生成绩档案表</p></div>
					<div class=" mb10">
					<table width="100%" class="table-noline">
					<tbody>
					<tr>
					<th class="width70 text-r">院系：</th>
					<td class="width30 inherit">${departmentName}</td>
					<th class="width70 text-r">培养层次：</th>
					<td class="width15 inherit">${trainingLevelName}</td>
					<th class="width70 text-r">学制：</th>
					<td class="width15 inherit">${educationSystem}年</td>
					<th class="width70 text-r">专业：</th>
					<td class="width20 inherit">${majorName}</td>
					</tr>
					<tr>
					<th class="width70 text-r">班级：</th>
					<td class="width30 inherit">${className}</td>
					<th class="width70 text-r">入学日期：</th>
					<td class="width15 inherit"> ${entranceDateStr}</td>
					<th class="width70 text-r">毕业日期：</th>
					<td class="width15 inherit">${graduateDateStr}</td>
					<th class="width70 text-r">学生：</th>
					<td class="width20 inherit">[${studentNo}]${studentName}</td>
					</tr>
					</tbody></table></div>
					<div id="divBody">
						<div class="box-body">
							{{each(i,scoreYearSemesterDto) firstAndSecondDtoList}}
							<div class=" tab50 {{if i%2 == 0}} pull-left {{else}} pull-right {{/if}}">
								<div class="table-box">
									<table class="table table-bordered">
										{{if i == 0 || i == 1}}
										<thead>
										<tr>
											<th>课程/环节</th>
											<th class="width48">类别</th>
											<th class="width60">学分</th>
											<th class="width70">成绩</th>
											<th class="width70">学分绩点</th>
										</tr>
										</thead>
										{{/if}}
										
										<tbody>
											<tr>
												<td colspan="5">${firstSemesterDto.yearSemesterCodeName}（平均成绩：${firstSemesterDto.averageScore}）</td>
											</tr>
											{{each(j,studentScoreQuery) firstSemesterDto.studentCourseScoreDtoList}}
	                                        <tr>
												{{if studentScoreQuery.courseNo != ' '}}
													<td class="inherit">[${studentScoreQuery.courseNo}]${studentScoreQuery.courseName}</td>
												{{else}}
													<td class="inherit">&nbsp;</td>
												{{/if}}
												<td class="width48">${studentScoreQuery.courseTypeNameByQuery}</td>
												<td class="width60">${studentScoreQuery.credit}</td>
												<td class="width70">${studentScoreQuery.finalPercentageScore}</td>
												<td class="width70">${studentScoreQuery.finalScorePoint}</td>
											</tr>
											{{/each}}
	                                        <tr>
												<td colspan="5">${secondSemesterDto.yearSemesterCodeName}（平均成绩：${secondSemesterDto.averageScore}）</td>
											</tr>
											{{each(j,studentScoreQuery) secondSemesterDto.studentCourseScoreDtoList}}
	                                        <tr>
												{{if studentScoreQuery.courseNo != ' '}}
													<td class="inherit">[${studentScoreQuery.courseNo}]${studentScoreQuery.courseName}</td>
												{{else}}
													<td class="inherit">&nbsp;</td>
												{{/if}}
												<td class="width48">${studentScoreQuery.courseTypeNameByQuery}</td>
												<td class="width60">${studentScoreQuery.credit}</td>
												<td class="width70">${studentScoreQuery.finalPercentageScore}</td>
												<td class="width70">${studentScoreQuery.finalScorePoint}</td>
											</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							</div>
						{{/each}}
						</div>
                        <div class="box-body">
							<div class="table-box">
								<table class="table table-bordered">
                                   <tbody>
	                                   <tr>
	                                   <td rowspan="2">毕业设计论文</td>
	                                   <td>题目</td>
	                                   <td>${tacheSubject}</td>
	                                   <td rowspan="2">平均学分绩点</td>
	                                   <td rowspan="2">${averagePointScore}</td>
	                                   </tr>
	                                   <tr>
	                                   <td>成绩</td>
	                                   <td>${tacheSubjectScore}</td>
	                                   </tr>
                                   </tbody>
                            	</table>
							</div>
                    	</div>
                    	<div class="box-body">
							<div class="table-box">
								<table class="table table-bordered">
                                    <tbody>
	                                    <tr>
		                                    <td><div class="pull-left">毕业资格审查：</div><div class="pull-right mt50">院系（盖章）<br/>年     <span class="ml20">月</span>      <span class="ml20">日</span></div></td>
		                                    <td><div class="pull-left">毕业资格审查：</div><div class="pull-right mt50">教务处（盖章）<br/>年     <span class="ml20">月</span>      <span class="ml20">日</span></div>
	                                    </tr>
                                    </tbody>
								</table>
								<div class=" pull-right">查询日期：${queryDate}</div>
							</div>
                    	</div>
					</div>
					<div style="page-break-after:always;"></div>
</script>
<script type="text/javascript">
	//方法引用
	seajs.config({
		paths : {
			"basePath" : "../../../common/js",
			"configPath" : "../../../common/js/config",
			"localPath" : "../js"
		}
	});
	seajs.use("localPath/studentScoreArchives",function(studentScoreArchives){
		studentScoreArchives.init();
	});
	seajs.use("basePath/utils/authority");
</script>
</body>
</html>