body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:34px;
  width:940px;
  height:386px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:386px;
}
#u3 {
  position:absolute;
  left:2px;
  top:185px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:11px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:910px;
  top:4px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:66px;
  top:52px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:386px;
  top:52px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:48px;
  top:104px;
  width:53px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:386px;
  top:104px;
  width:40px;
  height:16px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:68px;
  top:156px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:693px;
  top:104px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:436px;
  top:330px;
  width:80px;
  height:30px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:353px;
  top:207px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:668px;
  top:52px;
  width:57px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:360px;
  top:156px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:668px;
  top:156px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:42px;
  top:207px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:66px;
  top:258px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:107px;
  top:52px;
  width:43px;
  height:16px;
  color:#1E1E1E;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:426px;
  top:52px;
  width:92px;
  height:16px;
  color:#1E1E1E;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:725px;
  top:52px;
  width:78px;
  height:16px;
  color:#1E1E1E;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:107px;
  top:104px;
  width:66px;
  height:16px;
  color:#1E1E1E;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:426px;
  top:104px;
  width:40px;
  height:16px;
  color:#1E1E1E;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:734px;
  top:104px;
  width:66px;
  height:16px;
  color:#1E1E1E;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:108px;
  top:156px;
  width:26px;
  height:16px;
  color:#1E1E1E;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:426px;
  top:156px;
  width:47px;
  height:16px;
  color:#1E1E1E;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:740px;
  top:156px;
  width:27px;
  height:16px;
  color:#1E1E1E;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:423px;
  top:207px;
  width:66px;
  height:16px;
  color:#1E1E1E;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:960px;
  top:120px;
  width:246px;
  height:230px;
  color:#1E1E1E;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:230px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:693px;
  top:207px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:737px;
  top:207px;
  width:27px;
  height:16px;
  color:#1E1E1E;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
