* html .u5_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_selected.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_normal.png");
}

* html .u28_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_selected.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u110_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u112_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u120_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u120_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u124_normal.png");
}

* html .u64_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u129_line.png");
}

* html .u65_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u130_line.png");
}

* html .u66_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u131_line.png");
}

* html .u67_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u132_line.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u133_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u79_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u82_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u86_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u86_line.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u146_normal.png");
}

* html .u95_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u149_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u152_normal.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u101_normal.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u109_normal.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u113_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u115_normal.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u117_normal.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u121_normal.png");
}

* html .u124_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="发布作业_files/u101_normal.png");
}

