body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:29px;
  width:650px;
  height:520px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:520px;
}
#u4 {
  position:absolute;
  left:2px;
  top:252px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:11px;
  top:8px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:630px;
  top:4px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:66px;
  top:52px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:386px;
  top:52px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:66px;
  top:104px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:373px;
  top:104px;
  width:53px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:386px;
  top:156px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:40px;
  top:208px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:156px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:373px;
  top:208px;
  width:53px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:250px;
  top:500px;
  width:80px;
  height:30px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:66px;
  top:365px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:66px;
  top:434px;
  width:40px;
  height:16px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:53px;
  top:313px;
  width:53px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:360px;
  top:313px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:386px;
  top:365px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:40px;
  top:261px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:674px;
  top:120px;
  width:246px;
  height:230px;
  color:#1E1E1E;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:230px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:52px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:426px;
  top:52px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:111px;
  top:104px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:426px;
  top:104px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:111px;
  top:156px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:426px;
  top:156px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:111px;
  top:208px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:426px;
  top:208px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:111px;
  top:261px;
  width:519px;
  height:16px;
  color:#1E1E1E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:111px;
  top:313px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:426px;
  top:313px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:111px;
  top:365px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:426px;
  top:365px;
  width:190px;
  height:16px;
  color:#1E1E1E;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
