body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1 {
  position:absolute;
  left:17px;
  top:82px;
  width:614px;
  height:1205px;
}
#u2 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u3 {
  position:absolute;
  left:7px;
  top:0px;
  width:50px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:42px;
}
#u5 {
  position:absolute;
  left:77px;
  top:14px;
  width:65px;
  height:41px;
  font-size:32px;
  color:#CCCCCC;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:971px;
}
#u7 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:970px;
}
#u8 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u9 {
  position:absolute;
  left:659px;
  top:248px;
  width:60px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:91px;
}
#u12 {
  position:absolute;
  left:46px;
  top:1058px;
  width:546px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:91px;
}
#u14 {
  position:absolute;
  left:46px;
  top:1058px;
  width:141px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u16 {
  position:absolute;
  left:92px;
  top:1063px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u18 {
  position:absolute;
  left:91px;
  top:1118px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u20 {
  position:absolute;
  left:221px;
  top:1063px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
}
#u22 {
  position:absolute;
  left:199px;
  top:1118px;
  width:101px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u24 {
  position:absolute;
  left:353px;
  top:1063px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u26 {
  position:absolute;
  left:340px;
  top:1118px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u28 {
  position:absolute;
  left:497px;
  top:1063px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u30 {
  position:absolute;
  left:502px;
  top:1118px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:880px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:880px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:397px;
}
#u33 {
  position:absolute;
  left:659px;
  top:302px;
  width:560px;
  height:396px;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
