body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:29px;
  width:650px;
  height:520px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:520px;
}
#u4 {
  position:absolute;
  left:2px;
  top:252px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:7px;
  width:105px;
  height:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:623px;
  top:6px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:205px;
  top:99px;
  width:265px;
  height:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:220px;
  top:160px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:330px;
  top:160px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:670px;
  top:38px;
  width:490px;
  height:64px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:64px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:206px;
  top:137px;
  width:14px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
