<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<title>毕业处理</title>
<link href="../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../../common/css/reset.css" rel="stylesheet" />
<link href="../../../common/css/gta-layout.css" rel="stylesheet" />
<link href="../../../common/css/sideBar.css" rel="stylesheet" />
<link href="../../../common/css/basic-data.css" rel="stylesheet" />
<link href="../../../common/css/popup.css" rel="stylesheet" />
<link href="../../../common/css/skins.css" rel="stylesheet" />
<link href="../../../common/js/base/core/page/pagination.css" rel="stylesheet"/>
<!--日期样式-->
<link href="../../../common/js/base/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
<style>
	@media (min-width: 992px){
		.header-con .form-inline .form-group label {
		    min-width: 100px;
		    text-align: right;
		    vertical-align: middle;
		}
	}
</style>
</head>
<body page-auth-code="Graduation_Process_Process">
	<!-- 内容框架 开始------------------------------------------------------------->
	<div class="layout-index">
		<div class="container-fluid col-xs-12">
			<div class="header-con ">
				<form id="queryForm">
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">毕业年届：</label> 
								<input name="txt_graduateYear" id="txt_graduateYear" class="form-control inp-com" readonly >
								<input type="hidden" name="graduateYear" id="graduateYear" >
							</div>
						</div>	
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">年级：</label> 
								<select class="form-control sel-com" id="grade" name="grade">									
									<option value="-1">全部</option>
								</select>
							</div>
						</div>	
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">院系：</label> 
								<select class="form-control sel-com" id="departmentId" name="departmentId">									
									<option value="-1">全部</option>
									
								</select>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">专业：</label> 
								<select class="form-control sel-com" id="majorId" name="majorId">									
									<option value="-1">全部</option>
								</select>
							</div>
						</div>	
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">班级：</label> 
								<select class="form-control sel-com" id="classId" name="classId">									
									<option value="-1">全部</option>
								</select>
							</div>
						</div>	
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="">学号/姓名：</label> 
								<input type="text" class="form-control inp-com" id="studentNoOrName" name="studentNoOrName" />
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">毕业审核结果：</label>
								<input type="hidden" name="auditResultsList" id="auditResultsList" value="1,2">
								<select class="form-control sel-com" id="auditResult" name="auditResult">									
									<option value="-1">全部</option>
								</select>
							</div>
						</div>	
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">毕业状态：</label> 
								<select class="form-control sel-com" id="graduateStatus" name="graduateStatus">									
									<option value="-1">全部</option>
								</select>
							</div>
						</div>	
					</div>
				</form>
				<button type="button" class="btn btn-primary header-btn" id="query" name="query" auth-code="Graduation_Process_Process_Query">查询</button>
			</div>
		</div>
		<div class="sub-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header pull-right">
							<button type="button" class="btn btn-success btn-batch-update" _status="1" name="" id="" auth-code="Graduation_Process_Process_BatchGraduation">批量毕业</button>
							<button type="button" class="btn btn-success btn-batch-update" _status="2" name="" auth-code="Graduation_Process_Process_BatchCompletion">批量结业</button>
<!--							<button type="button" class="btn btn-danger" name="">删除</button>-->
							<button type="button" class="btn btn-warning" name="" id="export" auth-code="Graduation_Process_Process_Export">导出</button>
						</div>
						
						<div class="box-body">
							<div class="scorll-box">
								<div class="table-box">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th width="45">
													<div class="checkbox-con">
														<input type="checkbox" id="check-all" class="checNormal">
													</div>
												</th>
												<th width="50">序号</th>
												<th width="60">年级</th>
												<th>院系</th>
												<th>专业</th>
												<th>班级</th>
												<th  width="120">学号</th>
												<th  width="100">姓名</th>
												<th width="70">毕业要求<br>学分</th>
												<th width="70">取得学分</th>
												<th width="70">毕业要求<br>课程数</th>
												<th width="70">达到要求<br>课程数</th>
												<th width="70">毕业审核<br>结果</th>
												<th>未通过原因</th>
												<th width="80">毕业状态</th>
												<th width="90">操作</th>
											</tr>
										</thead>
										<tbody id="tbodycontent">
											<!--  
											<tr class="tr-checkbox">
												<td class="width05">
													<div class="checkbox-con"><input type="checkbox" name="checNormal"  class="checNormal"></div>                           </td>
											    <td class="width05">1</td>
											    <td>[10023]JAVA课程设计</td>    
											    <td>[23423]计算机系</td>
											    <td>[090632]张老师</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>校内</td>
											    <td>男</td>
											    <td><span class="text-danger">原因原因</span></td>
											    <td>男</td>
											    <td><button type="button" class="btn-text">取消</button></td>							    
											</tr>
											<tr class="tr-checkbox">
												<td class="width05">
													<div class="checkbox-con"><input type="checkbox" name="checNormal"  class="checNormal"></div>                           </td>
											    <td class="width05">1</td>
											    <td>[10023]JAVA课程设计</td>    
											    <td>[23423]计算机系</td>
											    <td>[090632]张老师</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>校内</td>
											    <td>男</td>
											    <td><span class="text-danger">原因原因</span></td>
											    <td>男</td>
											    <td><button type="button" class="btn-text">毕业</button><button type="button" class="btn-text">结业</button></td>							    
											</tr>
											<tr class="tr-checkbox">
												<td class="width05">
													<div class="checkbox-con"><input type="checkbox" name="checNormal"  class="checNormal"></div>                           </td>
											    <td class="width05">1</td>
											    <td>[10023]JAVA课程设计</td>    
											    <td>[23423]计算机系</td>
											    <td>[090632]张老师</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>男</td>
											    <td>校内</td>
											    <td>校内</td>
											    <td>男</td>
											    <td><span class="text-danger">原因原因</span></td>
											    <td>男</td>
											    <td><button type="button" class="btn-text">取消</button></td>							    
											</tr>
											-->
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="pagination" class="pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容框架 结束 ------------------------------------------------------------>
</body>
</html>
<!-- jquery版本 -->
<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<!-- bootstrap -->
<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
<script src="../../../common/js/base/My97DatePicker/WdatePicker.js"></script>
<!-- Seajs 模块化开发，请一定遵守 -->
<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
<!-- 模块渲染template -->
<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
<!-- 分页 -->
<script src="../../../common/js/base/core/page/jquery.pagination.js"></script>
<script src="../../../common/js/base/core/page/pagination.js"></script>
<!-- 验证 -->
<script src="../../../common/js/base/jquery/jquery.validate.js"></script>
<script src="../../../common/js/base/jquery/jquery.validate.custom.js"></script>
<script id="bodyContentImpl" type="text/x-jquery-tmpl">
	<tr class="tr-checkbox">
		<td width="45" _gtype="${graduateType}">
			{{if graduateType == 4}}
			<div class="checkbox-con disabled-check"><input type="checkbox" name="checNormal" id="${userId}" value="${graduateStudentId}" class="checNormal" disabled="disabled"></div>
			{{else}}
			<div class="checkbox-con"><input type="checkbox" name="checNormal" id="${userId}" value="${graduateStudentId}"  class="checNormal"></div>                           
			{{/if}}
		</td>
		<td width="50" title="${$index+1}">${$index+1}</td>
		<td width="60" title="${grade}">${grade}</td>
		<td title="${departmentName}" class="text-l">${departmentName}</td>
		<td title="${majorName}" class="text-l">${majorName}</td>
		<td class="text-l" title="${className}">${className}</td>
		<td width="120" class="text-l" title="${studentNo}">${studentNo}</td>
		<td width="100" class="text-l" title="${studentName}">${studentName}</td>
		<td width="70" title="${creditRequireTotal}">${creditRequireTotal}</td>
		<td width="70" title="${creditGotTotal}">${creditGotTotal}</td>
		<td width="70" title="${courseRequireTotal}">${courseRequireTotal}</td>
		<td width="70" title="${courseFinishTotal}">${courseFinishTotal}</td>
		<td width="70" title="${auditResultsName}">${auditResultsName}</td>
		<td><span class="text-danger" title="${rejectReasonName}">${rejectReasonName}</span></td>
		<td width="80" title="${graduateStatusName}">${graduateStatusName}</td>
		<td width="90">
		{{if graduateType!=4}}
			{{if graduateStatus == 0}}
			<button type="button" class="btn-text btn-update" name="btn-update" auth-code="Graduation_Process_Process_Graduation" _id="${graduateStudentId}" _status="1">毕业</button>
			<button type="button" class="btn-text btn-update" name="btn-update" auth-code="Graduation_Process_Process_Completion" _id="${graduateStudentId}" _status="2">结业</button>
			{{/if}}
			{{if graduateStatus == 1}}
			<button type="button" class="btn-text btn-update" name="btn-update" auth-code="Graduation_Process_Process_Cancel" _id="${graduateStudentId}" _status="0">取消</button>
			{{/if}}
			{{if graduateStatus == 2}}
			<button type="button" class="btn-text btn-update" name="btn-update" auth-code="Graduation_Process_Process_Cancel" _id="${graduateStudentId}" _status="0">取消</button>
			{{/if}}
		{{/if}}
		</td>							    
   </tr>
</script>
<script type="text/javascript">
	
	seajs.config({
		paths : {
			"basePath" : "../../../common/js",
			"localPath" : "../js"
		}
	});
	
	
	
	seajs.use("localPath/graduationDisposeList", function(graduationDisposeList) {
		//console.log(graduationDisposeList);
		graduationDisposeList.init();
	});
	
</script>
