body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:342px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354 {
  position:absolute;
  left:184px;
  top:104px;
}
#u2354_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2354_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:285px;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:285px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:134px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2354_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:350px;
}
#u2357 {
  position:absolute;
  left:30px;
  top:0px;
  width:616px;
  height:350px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:167px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2354_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:316px;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:316px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:150px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2362 {
  position:absolute;
  left:460px;
  top:614px;
  width:285px;
  height:41px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u2364 {
  position:absolute;
  left:519px;
  top:635px;
  width:211px;
  height:1px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u2366 {
  position:absolute;
  left:534px;
  top:629px;
  width:12px;
  height:13px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2368 {
  position:absolute;
  left:472px;
  top:625px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2371 {
  position:absolute;
  left:6px;
  top:84px;
  width:137px;
  height:405px;
}
#u2371_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2373 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2373_img.selected {
}
#u2373.selected {
}
#u2374 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2376 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2372_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2377 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2378 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u2379 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2380 {
  position:absolute;
  left:20px;
  top:40px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2381 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2382 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2383 {
  position:absolute;
  left:20px;
  top:60px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2384 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u2385 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u2386 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2388 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2389 {
  position:absolute;
  left:20px;
  top:100px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2390 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2391 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2392 {
  position:absolute;
  left:0px;
  top:120px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2393 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2393_img.selected {
}
#u2393.selected {
}
#u2394 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2395 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2396 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2392_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2397 {
  position:absolute;
  left:20px;
  top:20px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2399 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2400 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u2402 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u2403 {
  position:absolute;
  left:20px;
  top:60px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2404 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2405 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2406 {
  position:absolute;
  left:0px;
  top:200px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2407 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2407_img.selected {
}
#u2407.selected {
}
#u2408 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2409 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u2410 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u2406_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2411 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u2413 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2414 {
  position:absolute;
  left:0px;
  top:240px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2415 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2415_img.selected {
}
#u2415.selected {
}
#u2416 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2417 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2418 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2414_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2419 {
  position:absolute;
  left:20px;
  top:20px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u2421 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2422 {
  position:absolute;
  left:20px;
  top:40px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2423 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u2424 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2425 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2426 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u2427 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u2428 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2429 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u2430 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2431 {
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u2433 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2434 {
  position:absolute;
  left:20px;
  top:120px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2435 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u2436 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2437 {
  position:absolute;
  left:20px;
  top:140px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u2438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2438 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u2439 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2441 {
  position:absolute;
  left:257px;
  top:613px;
  width:76px;
  height:40px;
  font-size:18px;
}
#u2442 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2444 {
  position:absolute;
  left:162px;
  top:613px;
  width:76px;
  height:40px;
  font-size:18px;
}
#u2445 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2447 {
  position:absolute;
  left:356px;
  top:613px;
  width:76px;
  height:40px;
  font-size:18px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2451 {
  position:absolute;
  left:839px;
  top:455px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2453 {
  position:absolute;
  left:839px;
  top:415px;
  width:94px;
  height:40px;
  font-size:14px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u2455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2455 {
  position:absolute;
  left:839px;
  top:495px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2457 {
  position:absolute;
  left:839px;
  top:535px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2458 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2459 {
  position:absolute;
  left:839px;
  top:575px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2461 {
  position:absolute;
  left:839px;
  top:335px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2463 {
  position:absolute;
  left:839px;
  top:615px;
  width:94px;
  height:40px;
  font-size:16px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2465 {
  position:absolute;
  left:839px;
  top:375px;
  width:94px;
  height:40px;
  font-size:14px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2467 {
  position:absolute;
  left:807px;
  top:131px;
  width:126px;
  height:77px;
}
#u2468 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u2470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2470 {
  position:absolute;
  left:866px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u2471 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2472 {
  position:absolute;
  left:794px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u2473 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
