body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1371px;
  height:781px;
}
#u2066 {
  position:absolute;
  left:5px;
  top:31px;
  width:1371px;
  height:781px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:382px;
  width:1367px;
  visibility:hidden;
  word-wrap:break-word;
}
