body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5514 {
  position:absolute;
  left:18px;
  top:43px;
  width:525px;
  height:386px;
}
#u5515 {
  position:absolute;
  left:2px;
  top:185px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5516 {
  position:absolute;
  left:18px;
  top:13px;
  width:525px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u5517 {
  position:absolute;
  left:2px;
  top:7px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5518 {
  position:absolute;
  left:530px;
  top:19px;
  width:8px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5519 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u5520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5520 {
  position:absolute;
  left:18px;
  top:19px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u5521 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5522 {
  position:absolute;
  left:25px;
  top:90px;
  width:518px;
  height:221px;
}
#u5523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5523 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5524 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5525 {
  position:absolute;
  left:40px;
  top:0px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5526 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u5527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5527 {
  position:absolute;
  left:101px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5528 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5529 {
  position:absolute;
  left:187px;
  top:0px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5530 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5531 {
  position:absolute;
  left:286px;
  top:0px;
  width:120px;
  height:36px;
  text-align:center;
}
#u5532 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5533 {
  position:absolute;
  left:406px;
  top:0px;
  width:107px;
  height:36px;
  text-align:center;
}
#u5534 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5535 {
  position:absolute;
  left:0px;
  top:36px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5536 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5537 {
  position:absolute;
  left:40px;
  top:36px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5538 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u5539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5539 {
  position:absolute;
  left:101px;
  top:36px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5540 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5541 {
  position:absolute;
  left:187px;
  top:36px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5542 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5543 {
  position:absolute;
  left:286px;
  top:36px;
  width:120px;
  height:36px;
  text-align:center;
}
#u5544 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5545 {
  position:absolute;
  left:406px;
  top:36px;
  width:107px;
  height:36px;
  text-align:center;
}
#u5546 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5547 {
  position:absolute;
  left:0px;
  top:72px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5548 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5549 {
  position:absolute;
  left:40px;
  top:72px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5550 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u5551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5551 {
  position:absolute;
  left:101px;
  top:72px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5552 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5553 {
  position:absolute;
  left:187px;
  top:72px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5554 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5555 {
  position:absolute;
  left:286px;
  top:72px;
  width:120px;
  height:36px;
  color:#1E1E1E;
}
#u5556 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5557 {
  position:absolute;
  left:406px;
  top:72px;
  width:107px;
  height:36px;
  color:#1E1E1E;
}
#u5558 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5559 {
  position:absolute;
  left:0px;
  top:108px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5560 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5561 {
  position:absolute;
  left:40px;
  top:108px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5562 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5563 {
  position:absolute;
  left:101px;
  top:108px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5564 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5565 {
  position:absolute;
  left:187px;
  top:108px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5566 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5567 {
  position:absolute;
  left:286px;
  top:108px;
  width:120px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5568 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5569 {
  position:absolute;
  left:406px;
  top:108px;
  width:107px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5570 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5571 {
  position:absolute;
  left:0px;
  top:144px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5572 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5573 {
  position:absolute;
  left:40px;
  top:144px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5574 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5575 {
  position:absolute;
  left:101px;
  top:144px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5576 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5577 {
  position:absolute;
  left:187px;
  top:144px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5578 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5579 {
  position:absolute;
  left:286px;
  top:144px;
  width:120px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5580 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5581 {
  position:absolute;
  left:406px;
  top:144px;
  width:107px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5582 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u5583 {
  position:absolute;
  left:0px;
  top:180px;
  width:40px;
  height:36px;
  text-align:center;
}
#u5584 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u5585 {
  position:absolute;
  left:40px;
  top:180px;
  width:61px;
  height:36px;
  text-align:center;
}
#u5586 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u5587 {
  position:absolute;
  left:101px;
  top:180px;
  width:86px;
  height:36px;
  text-align:center;
}
#u5588 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u5589 {
  position:absolute;
  left:187px;
  top:180px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5590 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u5591 {
  position:absolute;
  left:286px;
  top:180px;
  width:120px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5592 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5593 {
  position:absolute;
  left:406px;
  top:180px;
  width:107px;
  height:36px;
  color:#1E1E1E;
  text-align:left;
}
#u5594 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5595 {
  position:absolute;
  left:189px;
  top:351px;
  width:80px;
  height:30px;
}
#u5595_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5596 {
  position:absolute;
  left:25px;
  top:64px;
  width:157px;
  height:16px;
  color:#1E1E1E;
}
#u5597 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5598 {
  position:absolute;
  left:34px;
  top:105px;
  width:30px;
  height:16px;
}
#u5599 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5598_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5600 {
  position:absolute;
  left:34px;
  top:138px;
  width:30px;
  height:16px;
}
#u5601 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5600_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5602 {
  position:absolute;
  left:288px;
  top:351px;
  width:80px;
  height:30px;
}
#u5602_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5603 {
  position:absolute;
  left:34px;
  top:174px;
  width:30px;
  height:16px;
}
#u5604 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5603_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5605 {
  position:absolute;
  left:566px;
  top:53px;
  width:346px;
  height:376px;
  color:#0000FF;
}
#u5606 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
