body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:1635px;
    width:970px;
    height:98px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u1 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:242px;
    top:1660px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u3_container {
    position:absolute;
    left:50px;
    top:1595px;
    width:970px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u5_container {
    position:absolute;
    left:306px;
    top:1601px;
    width:38px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:354px;
    top:1607px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u8_container {
    position:absolute;
    left:482px;
    top:1601px;
    width:38px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:530px;
    top:1607px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u11_container {
    position:absolute;
    left:658px;
    top:1601px;
    width:38px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:706px;
    top:1605px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:167px;
    top:236px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u21_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u21_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u21_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u32_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u32_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u38 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u41 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u43_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u43_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u43_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u49 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u51_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u51_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u51_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u66 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u68_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u68_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u69 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u71 {
    position:absolute;
    left:1050px;
    top:325px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../笔记_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:436px;
    top:1334px;
    width:70px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../笔记_files/u72_normal.png');
}

.u74_container {
    position:absolute;
    left:666px;
    top:1335px;
    width:70px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:576px;
    top:1339px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../笔记_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:534px;
    top:1334px;
    width:22px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../笔记_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:838px;
    height:3px;
}

.u79 {
    position:absolute;
    left:167px;
    top:310px;
    width:838px;
    height:10px;
    
}

.u80_normal {
    background-image: url('../学生中心头部_files/u117_normal.png');
}

.u80_container {
    position:absolute;
    left:30px;
    top:36px;
    width:980px;
    height:154px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:160px;
}

.u81 {
    position:absolute;
    left:2px;
    top:69px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../学生中心头部_files/u119_normal.png');
}

.u82_container {
    position:absolute;
    left:50px;
    top:61px;
    width:112px;
    height:105px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:111px;
}

.u83 {
    position:absolute;
    left:2px;
    top:43px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:186px;
    top:64px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:595px;
    top:106px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:730px;
    top:102px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../学生中心头部_files/u124_line.png');
}

.u87_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u87 {
    position:absolute;
    left:545px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u88_line {
    background-image: url('../学生中心头部_files/u125_line.png');
}

.u88_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u88 {
    position:absolute;
    left:692px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u89_line {
    background-image: url('../学生中心头部_files/u126_line.png');
}

.u89_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u89 {
    position:absolute;
    left:840px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u90 {
    position:absolute;
    left:296px;
    top:69px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../学生中心头部_files/u128_normal.png');
}

.u91_container {
    position:absolute;
    left:454px;
    top:52px;
    width:51px;
    height:51px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
}

.u92 {
    position:absolute;
    left:2px;
    top:18px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../学生中心头部_files/u130_normal.png');
}

.u93_container {
    position:absolute;
    left:738px;
    top:53px;
    width:45px;
    height:45px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u94 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../学生中心头部_files/u132_normal.png');
}

.u95_container {
    position:absolute;
    left:890px;
    top:56px;
    width:40px;
    height:40px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u96 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:897px;
    top:103px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../学生中心头部_files/u135_line.png');
}

.u98_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u98 {
    position:absolute;
    left:420px;
    top:47px;
    width:10px;
    height:130px;
    
}

.u99_normal {
    background-image: url('../学生中心头部_files/u136_normal.png');
}

.u99_container {
    position:absolute;
    left:606px;
    top:55px;
    width:41px;
    height:41px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:41px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:466px;
    top:110px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../学生中心头部_files/u139_normal.png');
}

.u102_container {
    position:absolute;
    left:187px;
    top:90px;
    width:23px;
    height:22px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
}

.u103 {
    position:absolute;
    left:2px;
    top:3px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:218px;
    top:95px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:187px;
    top:117px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:185px;
    top:157px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:271px;
    top:133px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:1030px;
    top:210px;
    width:691px;
    height:501px;
    overflow:hidden;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:691px;
    height:501px;
    
}

.u109_normal {
    background-image: url('../学生中心头部_files/u146_normal.png');
}

.u109_container {
    position:absolute;
    left:10px;
    top:10px;
    width:660px;
    height:470px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:476px;
}

.u110 {
    position:absolute;
    left:2px;
    top:227px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../学生中心头部_files/u148_normal.png');
}

.u111_container {
    position:absolute;
    left:30px;
    top:30px;
    width:207px;
    height:104px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:104px;
}

.u112 {
    position:absolute;
    left:2px;
    top:44px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../学生中心头部_files/u150_normal.png');
}

.u113_container {
    position:absolute;
    left:44px;
    top:134px;
    width:180px;
    height:166px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:172px;
}

.u114 {
    position:absolute;
    left:2px;
    top:75px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:280px;
    top:44px;
    width:270px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:280px;
    top:86px;
    width:370px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../学生中心头部_files/u154_normal.png');
}

.u117_container {
    position:absolute;
    left:620px;
    top:10px;
    width:50px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u118 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:170px;
    top:340px;
    width:852px;
    height:571px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:852px;
    height:571px;
    
}

.u121_normal {
    background-image: url('../笔记_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:11px;
    top:48px;
    width:838px;
    height:30px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u122 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_line {
    background-image: url('../笔记_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:805px;
    height:3px;
}

.u123 {
    position:absolute;
    left:25px;
    top:196px;
    width:805px;
    height:10px;
    
}

#u124 {
    position:absolute;
    left:11px;
    top:16px;
    width:843px;
    height:36px
}

.u125_normal {
    background-image: url('../笔记_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:31px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:37px;
}

.u126 {
    position:absolute;
    left:2px;
    top:8px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../笔记_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:164px;
    top:0px;
    width:674px;
    height:31px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:680px;
    height:37px;
}

.u128 {
    position:absolute;
    left:2px;
    top:8px;
    width:670px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:24px;
    top:56px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:120px;
    top:94px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:24px;
    top:120px;
    width:816px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_line {
    background-image: url('../笔记_files/u132_line.png');
}

.u132_line {
    position:absolute;
    left:0px;
    top:4px;
    width:838px;
    height:3px;
}

.u132 {
    position:absolute;
    left:12px;
    top:322px;
    width:838px;
    height:10px;
    
}

.u133 {
    position:absolute;
    left:24px;
    top:247px;
    width:816px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u134 {
    position:absolute;
    left:781px;
    top:173px;
    width:36px;
    height:27px;
    overflow:hidden;
}

#pd0u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:27px;
    
}

.u135_normal {
    background-image: url('../笔记_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:6px;
    top:1px;
    width:28px;
    height:28px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u136 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../笔记_files/u121_normal.png');
}

.u137_container {
    position:absolute;
    left:12px;
    top:329px;
    width:838px;
    height:30px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u138 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:25px;
    top:337px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_line {
    background-image: url('../笔记_files/u140_line.png');
}

.u140_line {
    position:absolute;
    left:0px;
    top:4px;
    width:838px;
    height:3px;
}

.u140 {
    position:absolute;
    left:13px;
    top:355px;
    width:838px;
    height:10px;
    
}

.u141_normal {
    background-image: url('../笔记_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:825px;
    top:60px;
    width:15px;
    height:8px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:14px;
}

.u142 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../笔记_files/u121_normal.png');
}

.u143_container {
    position:absolute;
    left:13px;
    top:362px;
    width:838px;
    height:30px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:844px;
    height:36px;
}

.u144 {
    position:absolute;
    left:2px;
    top:7px;
    width:834px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:25px;
    top:370px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../笔记_files/u141_normal.png');
}

.u146_container {
    position:absolute;
    left:827px;
    top:372px;
    width:15px;
    height:8px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:14px;
}

.u147 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../笔记_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:827px;
    top:340px;
    width:15px;
    height:8px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:14px;
}

.u149 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u150 {
    position:absolute;
    left:20px;
    top:95px;
    width:828px;
    height:54px;
    overflow:hidden;
}

#pd0u150 {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:54px;
    
}

.u151 {
    position:absolute;
    left:2px;
    top:0px;
    width:828px;
    height:50px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u152 {
    position:absolute;
    left:767px;
    top:173px;
    width:64px;
    height:27px;
    overflow:hidden;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:27px;
    
}

.u153_normal {
    background-image: url('../笔记_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:3px;
    top:0px;
    width:60px;
    height:25px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u154 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:24px;
    top:94px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:120px;
    top:226px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:24px;
    top:226px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_line {
    background-image: url('../笔记_files/u158_line.png');
}

.u158_line {
    position:absolute;
    left:0px;
    top:4px;
    width:805px;
    height:3px;
}

.u158 {
    position:absolute;
    left:24px;
    top:504px;
    width:805px;
    height:10px;
    
}

.u159 {
    position:absolute;
    left:119px;
    top:402px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:23px;
    top:428px;
    width:816px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:780px;
    top:481px;
    width:36px;
    height:27px;
    overflow:hidden;
}

#pd0u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:27px;
    
}

.u162_normal {
    background-image: url('../笔记_files/u135_normal.png');
}

.u162_container {
    position:absolute;
    left:6px;
    top:1px;
    width:28px;
    height:28px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:28px;
}

.u163 {
    position:absolute;
    left:2px;
    top:6px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u164 {
    position:absolute;
    left:766px;
    top:481px;
    width:64px;
    height:27px;
    overflow:hidden;
}

#pd0u164 {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:27px;
    
}

.u165_normal {
    background-image: url('../笔记_files/u153_normal.png');
}

.u165_container {
    position:absolute;
    left:3px;
    top:0px;
    width:60px;
    height:25px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u166 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:23px;
    top:402px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../学生端顶部_files/u218_normal.png');
}

.u168_container {
    position:absolute;
    left:30px;
    top:0px;
    width:980px;
    height:26px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u169 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:810px;
    top:5px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../学生端顶部_files/u221_normal.png');
}

.u171_container {
    position:absolute;
    left:870px;
    top:6px;
    width:20px;
    height:16px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u172 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:35px;
    top:7px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../学生端顶部_files/u224_normal.png');
}

.u174_container {
    position:absolute;
    left:913px;
    top:2px;
    width:78px;
    height:23px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:29px;
}

.u175 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

