body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u953 {
  position:absolute;
  left:17px;
  top:82px;
  width:614px;
  height:1205px;
}
#u954 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u955 {
  position:absolute;
  left:7px;
  top:0px;
  width:50px;
  height:64px;
}
#u956 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:42px;
}
#u957 {
  position:absolute;
  left:77px;
  top:14px;
  width:65px;
  height:41px;
  font-size:32px;
  color:#CCCCCC;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:971px;
}
#u959 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:970px;
}
#u960 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:208px;
}
#u961 {
  position:absolute;
  left:47px;
  top:212px;
  width:546px;
  height:207px;
}
#u962 {
  position:absolute;
  left:2px;
  top:96px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:183px;
}
#u963 {
  position:absolute;
  left:46px;
  top:212px;
  width:547px;
  height:182px;
}
#u964 {
  position:absolute;
  left:2px;
  top:83px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:91px;
}
#u966 {
  position:absolute;
  left:46px;
  top:1058px;
  width:546px;
  height:90px;
}
#u967 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:91px;
}
#u968 {
  position:absolute;
  left:46px;
  top:1058px;
  width:141px;
  height:90px;
}
#u969 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u970 {
  position:absolute;
  left:92px;
  top:1063px;
  width:50px;
  height:50px;
}
#u971 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u972 {
  position:absolute;
  left:91px;
  top:1118px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u974 {
  position:absolute;
  left:221px;
  top:1063px;
  width:50px;
  height:50px;
}
#u975 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
}
#u976 {
  position:absolute;
  left:199px;
  top:1118px;
  width:101px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u978 {
  position:absolute;
  left:353px;
  top:1063px;
  width:50px;
  height:50px;
}
#u979 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u980 {
  position:absolute;
  left:340px;
  top:1118px;
  width:81px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u982 {
  position:absolute;
  left:497px;
  top:1063px;
  width:50px;
  height:50px;
}
#u983 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u984 {
  position:absolute;
  left:502px;
  top:1118px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:35px;
}
#u986 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:34px;
}
#u987 {
  position:absolute;
  left:2px;
  top:9px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u988 {
  position:absolute;
  left:88px;
  top:236px;
  width:102px;
  height:102px;
}
#u989 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u990 {
  position:absolute;
  left:200px;
  top:277px;
  width:49px;
  height:21px;
  font-size:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:51px;
}
#u992 {
  position:absolute;
  left:309px;
  top:277px;
  width:219px;
  height:50px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
.u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
.u995 {
  position:absolute;
  left:0px;
  top:52px;
  width:91px;
  height:29px;
  font-size:14px;
}
.u996 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
.u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:45px;
}
.u997 {
  position:absolute;
  left:25px;
  top:2px;
  width:42px;
  height:44px;
  font-size:14px;
}
.u998 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:81px;
}
#u994 {
  position:absolute;
  left:288px;
  top:447px;
  width:91px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:51px;
}
.u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:50px;
}
.u1001 {
  position:absolute;
  left:2px;
  top:17px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
.u1002 {
  position:absolute;
  left:7px;
  top:10px;
  width:30px;
  height:30px;
}
.u1003 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:21px;
}
.u1004 {
  position:absolute;
  left:47px;
  top:15px;
  width:415px;
  height:20px;
}
.u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
.u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
.u1006 {
  position:absolute;
  left:515px;
  top:10px;
  width:17px;
  height:30px;
}
.u1007 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:50px;
}
#u999-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:546px;
  height:50px;
}
#u999-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:546px;
  height:50px;
}
#u999 {
  position:absolute;
  left:47px;
  top:543px;
  width:546px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:51px;
}
.u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:50px;
}
.u1010 {
  position:absolute;
  left:2px;
  top:17px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
.u1011 {
  position:absolute;
  left:7px;
  top:10px;
  width:30px;
  height:30px;
}
.u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:21px;
}
.u1013 {
  position:absolute;
  left:47px;
  top:15px;
  width:415px;
  height:20px;
}
.u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
.u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
.u1015 {
  position:absolute;
  left:515px;
  top:10px;
  width:17px;
  height:30px;
}
.u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:50px;
}
#u1008-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:546px;
  height:50px;
}
#u1008 {
  position:absolute;
  left:47px;
  top:703px;
  width:546px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1017 {
  position:absolute;
  left:288px;
  top:447px;
  width:91px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u1018 {
  position:absolute;
  left:739px;
  top:155px;
  width:60px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:90px;
}
#u1020 {
  position:absolute;
  left:739px;
  top:223px;
  width:560px;
  height:89px;
  font-size:18px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
