body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:30px;
    top:306px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_menu {
    background-image: url('../课程详情页导航_files/u230_menu.png');
}

.u1_menu {
    position:absolute;
    left:27px;
    top:337px;
    width:239px;
    height:81px;
}

#u1_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u3_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u3_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u5_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_menu {
    background-image: url('../课程详情页导航_files/u236_menu.png');
}

.u7_menu {
    position:absolute;
    left:27px;
    top:479px;
    width:239px;
    height:81px;
}

#u7_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u9_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u9_normal {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u11_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:30px;
    top:450px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../课程详情页导航_files/u243_menu.png');
}

.u14_menu {
    position:absolute;
    left:27px;
    top:681px;
    width:239px;
    height:45px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

#u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:41px
}

.u16_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u16_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:30px;
    top:652px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_menu {
    background-image: url('../课程详情页导航_files/u248_menu.png');
}

.u19_menu {
    position:absolute;
    left:27px;
    top:551px;
    width:239px;
    height:81px;
}

#u19_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:78px;
}

#u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:235px;
    height:77px
}

.u21_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u21_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../课程详情页导航_files/u232_mouseOver.png');
}

.u23_normal {
    background-image: url('../课程详情页导航_files/u232_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:36px;
    width:230px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../课程详情页导航_files/u254_normal.png');
}

.u25_container {
    position:absolute;
    left:239px;
    top:493px;
    width:10px;
    height:16px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:22px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../课程大纲_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:30px;
    top:140px;
    width:230px;
    height:133px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:133px;
}

.u29 {
    position:absolute;
    left:2px;
    top:58px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:310px;
    top:140px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../课程大纲_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:701px;
    height:3px;
}

.u31 {
    position:absolute;
    left:310px;
    top:174px;
    width:701px;
    height:10px;
    
}

.u32_normal {
    background-image: url('../课程大纲_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:30px;
    top:40px;
    width:981px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:987px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:977px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../课程大纲_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:70px;
    top:60px;
    width:70px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:160px;
    top:72px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:310px;
    top:63px;
    width:427px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:310px;
    top:92px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../课程大纲_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:30px;
    top:0px;
    width:980px;
    height:26px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:925px;
    top:5px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../课程大纲_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:985px;
    top:6px;
    width:20px;
    height:16px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:840px;
    top:3px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:35px;
    top:7px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:354px;
    top:210px;
    width:586px;
    height:1792px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u47_container {
    position:absolute;
    left:20px;
    top:2125px;
    width:970px;
    height:98px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u48 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:212px;
    top:2150px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u50_container {
    position:absolute;
    left:20px;
    top:2085px;
    width:970px;
    height:40px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u52_container {
    position:absolute;
    left:276px;
    top:2091px;
    width:38px;
    height:28px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:324px;
    top:2097px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u55_container {
    position:absolute;
    left:452px;
    top:2091px;
    width:38px;
    height:28px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u56 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:500px;
    top:2097px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u58_container {
    position:absolute;
    left:628px;
    top:2091px;
    width:38px;
    height:28px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u59 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:676px;
    top:2095px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

