<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>用户管理</title>
<!-- ui提供的公共的样式 -->
<link href="../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" /> 
<link href="../../../common/css/reset.css" rel="stylesheet"/>
<link href="../../../common/css/gta-layout.css" rel="stylesheet"/>
<link href="../../../common/css/sideBar.css" rel="stylesheet"/>
<link href="../../../common/css/gta-fonts.css" rel="stylesheet"/>
<link href="../../../common/css/popup.css" rel="stylesheet"/>
<link href="../../../common/css/skins.css" rel="stylesheet"/>
<!-- 下面这个是树目录控件的css -->
<link href="../../../common/css/ztree/zTreeStyle.css" rel="stylesheet"/>
<link href="../../../common/js/base/core/page/pagination.css" rel="stylesheet"/>
</head>
<body page-auth-code="Udf_Sys_UserManage">
<!-- 内容框架 开始------------------------------------------------------------->
<div class="layout-index"> 
   <div class="container-fluid col-xs-12">
   <input type="hidden" value="0" id="pageIndex"/>
     <div class="header-con">
   <form id="queryForm">
   		<div class="row">
		  	<div class="col-sm-6 form-inline form-inp-con">
		  		<div class="form-group">
			  		<label for="name">用户：</label>
		            <input class="form-control inp-com" name="accountName" id="accountName" maxlength=50 placeholder="用户账号/姓名" />
		        </div>
		  	</div>	
		  	<div class="col-sm-6 form-inline form-inp-con">
		  		<div class="form-group">   
		            <label for="name">状态：</label>
		            <select class="form-control sel-com" id="isEnabled" name="isEnabled" >
		        		<option value="">全部</option>
		        		<option value="1">启用</option>
		        		<option value="2">禁用</option>
		        	</select>
		        </div>
		  	</div>
		  	<div class="col-sm-6 form-inline form-inp-con">
		  	 	<div class="form-group">	
		            <label for="name">用户类型：</label>
		            <select class="form-control sel-com" id="userType" name="userType" >
		        		<option value="">全部</option>
		        		<option value="1">教职工</option>
		        		<option value="2">学生</option>
		        	</select>
		       </div>
		  	</div>
		  	<div class="col-sm-6 form-inline form-inp-con">
		  	    <div class="form-group"  id="treeid" > 	
		            <label for="name">所属单位：</label>
		            <div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
						<div class="tips-text verification-info w220">
							<input class="form-control inp-com toggle-tree" id="deptment" 
								name="deptment" type="text" readonly="readonly" />
							<input type="hidden" id="deptmentId" name="deptmentId" value="" />
						</div>
						<ul id="administrativeUnitTree" class="ztree input-tree toggle-ui-down"></ul>
					</div>
		  		</div>
		  	</div>	  	
		</div>  	
  	</form>   
  	    <button type="button" class="btn btn-primary header-btn width-mini" name="query" id="query">查询</button>
     </div>
   </div>
  	<div class="sub-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header pull-right">
							<button type="button" class="btn btn-success width-default" name="start" id="start" auth-code="Udf_Sys_UserManage_EnableDisable">启  用</button>
							<button type="button" class="btn btn-danger width-default" name="forbid" id="forbid" auth-code="Udf_Sys_UserManage_EnableDisable">禁  用</button>
							<button type="button" class="btn btn-warning width-default" name="resetPwd" id="resetPwd" auth-code="Udf_Sys_UserManage_ResetPwd">重置密码</button>
						</div>
						<div class="box-body">
							<div class="scorll-box">
								<div class="table-box">
									<table class="table table-bordered table-hover">
										<!-- table标题 -->
										 <thead>
										   <tr>
											    <th class="width03"><div class="checkbox-con"><input type="checkbox" id="check-all" value="" class="checNormal"></div></th>
												<th>用户账号</th>
												<th>姓名</th>
												<th class="width75">用户类型</th>
												<th class="width30">所属单位</th>
												<th class="width45">状态</th>
												<th class="width140">创建时间</th>
												<th class="width120">操作</th>
										   </tr>	
										</thead>
										<!-- table内容 -->	
										<tbody id="content">
										</tbody> 
									 </table>
								</div>
							</div>
							
		
						</div>
						<div id="pagination" class="pagination"></div>
					</div>
				</div>
			</div>
		</div> 
</div>
<!-- 内容框架 结束 ------------------------------------------------------------>

<!-- jquery版本 -->
<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<!-- bootstrap -->
<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
<!-- 弹窗 -->
<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
<!-- 树形结构 -->
<script src="../../../common/js/base/ztree/jquery.ztree.core-3.5.min.js"></script>
<script src="../../../common/js/base/ztree/jquery.ztree.excheck-3.5.min.js"></script>
<!-- 日历控件 -->
<script src="../../../common/js/base/My97DatePicker/WdatePicker.js"></script>
<!-- 模块渲染template -->
<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
<!-- 分页 -->
<script src="../../../common/js/base/core/page/pagination.js"></script>
<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script id="tableWrapper" type="text/x-jquery-tmpl">
      <tr class="tr-checkbox">  
         <td class="width03"><div class="checkbox-con"><input type="checkbox" id="" value="" class="checNormal" userId =${userId} name="checNormal"></div></td>
         <td class="text-l">${accountName}</td>
         <td class="text-l">${userName}</td>
         <td class="text-l width75"> {{if userType ==1}}教职工{{else}}学生 {{/if}} </td>
         <td class="text-l width30">${organizationName}</td>
         <td class="width45">{{if isEnabled ==1}}启用{{else}}禁用 {{/if}} </td>
 		 <td class="width140">${$item.format(createTime)}</td>
         <td class="width120">
		 <button type="button" {{if accountType == 1||accountType == 2}} disabled="disabled" class="btn-text disabled" {{else}} class="btn-text" {{/if}} name="authoritySet" userId =${userId} auth-code="Udf_Sys_UserManage_Authority">数据权限</button>
              <button type="button" class="btn-text" userId =${userId} name="userViewPop" auth-code="Udf_Sys_UserManage_ViewDetail">查看</button>
         </td>  
      </tr> 
</script>

<script type="text/javascript">
	//两种方法引用
	seajs.config({paths:{"basePath":"../../../common/js","configPath":"../../../common/js/config","localPath":"../js"}});
	seajs.use("localPath/user",function(user){
		  user.init();
	}); 
	seajs.use("basePath/utils/authority");
</script>
</body>
</html>
