body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u0_container {
    position:absolute;
    left:41px;
    top:2400px;
    width:970px;
    height:98px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u1 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:233px;
    top:2425px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u3_container {
    position:absolute;
    left:41px;
    top:2360px;
    width:970px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u5_container {
    position:absolute;
    left:297px;
    top:2366px;
    width:38px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:345px;
    top:2372px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u8_container {
    position:absolute;
    left:473px;
    top:2366px;
    width:38px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:521px;
    top:2372px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u11_container {
    position:absolute;
    left:649px;
    top:2366px;
    width:38px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:697px;
    top:2370px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:285px;
    top:54px;
    width:127px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:450px;
    top:50px;
    width:355px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../FAQ_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:815px;
    top:50px;
    width:60px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../FAQ_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:901px;
    top:50px;
    width:74px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../FAQ_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:25px;
    top:192px;
    width:709px;
    height:678px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:715px;
    height:684px;
}

.u22 {
    position:absolute;
    left:2px;
    top:331px;
    width:705px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:44px;
    top:222px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:44px;
    top:255px;
    width:629px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:44px;
    top:321px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:44px;
    top:359px;
    width:600px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../FAQ_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:670px;
    height:3px;
}

.u27 {
    position:absolute;
    left:44px;
    top:290px;
    width:670px;
    height:10px;
    
}

.u28_line {
    background-image: url('../FAQ_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:670px;
    height:3px;
}

.u28 {
    position:absolute;
    left:44px;
    top:430px;
    width:670px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u29_container {
    position:absolute;
    left:30px;
    top:1372px;
    width:970px;
    height:98px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u30 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:222px;
    top:1397px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u32_container {
    position:absolute;
    left:30px;
    top:1332px;
    width:970px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u34_container {
    position:absolute;
    left:286px;
    top:1338px;
    width:38px;
    height:28px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:334px;
    top:1344px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u37_container {
    position:absolute;
    left:462px;
    top:1338px;
    width:38px;
    height:28px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:510px;
    top:1344px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u40_container {
    position:absolute;
    left:638px;
    top:1338px;
    width:38px;
    height:28px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:686px;
    top:1342px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../FAQ_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:37px;
    top:40px;
    width:70px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:56px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:117px;
    top:53px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../FAQ_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:34px;
}

.u47 {
    position:absolute;
    left:270px;
    top:45px;
    width:10px;
    height:34px;
    
}

.u48_normal {
    background-image: url('../FAQ_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:20px;
    top:0px;
    width:980px;
    height:26px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u49 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:915px;
    top:5px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../FAQ_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:975px;
    top:6px;
    width:20px;
    height:16px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:25px;
    top:7px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u54 {
    position:absolute;
    left:864px;
    top:27px;
    width:136px;
    height:134px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:134px;
    
}

.u55_menu {
    background-image: url('../FAQ_files/u55_menu.png');
}

.u55_menu {
    position:absolute;
    left:-2px;
    top:-1px;
    width:140px;
    height:139px;
}

#u55_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:136px;
}

#u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:135px
}

.u57_normal {
    background-image: url('../FAQ_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:26px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../FAQ_files/u57_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:26px;
    width:131px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../FAQ_files/u57_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:52px;
    width:131px;
    height:26px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../FAQ_files/u57_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:78px;
    width:131px;
    height:26px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u64 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../FAQ_files/u57_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:104px;
    width:131px;
    height:26px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1030px;
    top:242px;
    width:180px;
    height:208px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../答疑中心导航_files/u80_normal.png');
}

.u68_container {
    position:absolute;
    left:25px;
    top:116px;
    width:970px;
    height:32px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:38px;
}

.u69 {
    position:absolute;
    left:2px;
    top:8px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_menu {
    background-image: url('../答疑中心导航_files/u82_menu.png');
}

.u70_menu {
    position:absolute;
    left:22px;
    top:113px;
    width:409px;
    height:41px;
}

#u70_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:38px;
}

#u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:405px;
    height:37px
}

.u72_mouseOver {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u72_normal {
    background-image: url('../答疑中心导航_files/u84_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:32px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u73 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_mouseOver {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u74_normal {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u74_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:32px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_mouseOver {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u76_normal {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u76_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:32px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u77 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u78_normal {
    background-image: url('../答疑中心导航_files/u84_mouseOver.png');
}

.u78_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:32px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u79 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:862px;
    top:124px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:927px;
    top:124px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1020px;
    top:170px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../FAQ_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:760px;
    top:191px;
    width:240px;
    height:490px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:496px;
}

.u85 {
    position:absolute;
    left:2px;
    top:237px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:780px;
    top:210px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../FAQ_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:780px;
    top:255px;
    width:50px;
    height:50px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u88 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:840px;
    top:255px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:840px;
    top:274px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:952px;
    top:255px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../FAQ_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u92 {
    position:absolute;
    left:775px;
    top:314px;
    width:200px;
    height:10px;
    
}

.u93_line {
    background-image: url('../FAQ_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u93 {
    position:absolute;
    left:775px;
    top:395px;
    width:200px;
    height:10px;
    
}

.u94_line {
    background-image: url('../FAQ_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u94 {
    position:absolute;
    left:775px;
    top:482px;
    width:200px;
    height:10px;
    
}

.u95_line {
    background-image: url('../FAQ_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u95 {
    position:absolute;
    left:776px;
    top:566px;
    width:200px;
    height:10px;
    
}

.u96_line {
    background-image: url('../FAQ_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u96 {
    position:absolute;
    left:781px;
    top:660px;
    width:200px;
    height:10px;
    
}

.u97 {
    position:absolute;
    left:952px;
    top:213px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../FAQ_files/u87_normal.png');
}

.u98_container {
    position:absolute;
    left:780px;
    top:334px;
    width:50px;
    height:50px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u99 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:840px;
    top:334px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:840px;
    top:353px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:952px;
    top:334px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../FAQ_files/u87_normal.png');
}

.u103_container {
    position:absolute;
    left:780px;
    top:415px;
    width:50px;
    height:50px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u104 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:840px;
    top:415px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:840px;
    top:434px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:952px;
    top:415px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../FAQ_files/u87_normal.png');
}

.u108_container {
    position:absolute;
    left:780px;
    top:505px;
    width:50px;
    height:50px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u109 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:840px;
    top:505px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:840px;
    top:524px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:952px;
    top:505px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../FAQ_files/u87_normal.png');
}

.u113_container {
    position:absolute;
    left:780px;
    top:592px;
    width:50px;
    height:50px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u114 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:840px;
    top:592px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:840px;
    top:611px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:952px;
    top:592px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:44px;
    top:464px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:44px;
    top:502px;
    width:600px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_line {
    background-image: url('../FAQ_files/u120_line.png');
}

.u120_line {
    position:absolute;
    left:0px;
    top:4px;
    width:670px;
    height:3px;
}

.u120 {
    position:absolute;
    left:44px;
    top:574px;
    width:670px;
    height:10px;
    
}

.u121 {
    position:absolute;
    left:44px;
    top:608px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:44px;
    top:646px;
    width:600px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_line {
    background-image: url('../FAQ_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:670px;
    height:3px;
}

.u123 {
    position:absolute;
    left:44px;
    top:717px;
    width:670px;
    height:10px;
    
}

.u124 {
    position:absolute;
    left:44px;
    top:751px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:44px;
    top:789px;
    width:600px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../FAQ_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:24px;
    top:870px;
    width:710px;
    height:40px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:716px;
    height:46px;
}

.u127 {
    position:absolute;
    left:2px;
    top:12px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

