body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:539px;
  height:16px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:70px;
  top:41px;
  width:126px;
  height:38px;
  text-decoration:none;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:103px;
  width:207px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:139px;
  width:307px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:168px;
  width:307px;
  height:171px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:171px;
}
#u9 {
  position:absolute;
  left:2px;
  top:78px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:9px;
  top:146px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:283px;
  top:144px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:102px;
  top:241px;
  width:105px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:75px;
  top:289px;
  width:74px;
  height:30px;
  text-decoration:none;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:159px;
  top:289px;
  width:74px;
  height:30px;
  text-decoration:none;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:137px;
  top:199px;
  width:32px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:251px;
  top:41px;
  width:126px;
  height:38px;
  text-decoration:none;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
}
#u23 {
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:359px;
  width:77px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:396px;
  width:40px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:40px;
  top:392px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:250px;
  top:396px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:263px;
  top:396px;
  width:16px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:417px;
  width:112px;
  height:48px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:48px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:489px;
  width:584px;
  height:16px;
  color:#FF0000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:518px;
  width:66px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:66px;
  top:514px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:66px;
  top:538px;
  width:200px;
  height:151px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:151px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:196px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:237px;
  top:593px;
  width:40px;
  height:40px;
  opacity:0.5;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:710px;
  width:506px;
  height:16px;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  white-space:nowrap;
}
