* html .u5_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_selected.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_normal.png");
}

* html .u28_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_selected.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心导航_files/u7_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u110_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u112_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u120_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u120_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u124_normal.png");
}

* html .u64_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u129_line.png");
}

* html .u65_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u130_line.png");
}

* html .u66_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u131_line.png");
}

* html .u67_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u132_line.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师中心头部_files/u133_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u79_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u82_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="foot_files/u84_normal.png");
}

* html .u86_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u86_line.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u88_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u88_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u93_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u97_normal.png");
}

* html .u99_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u99_normal.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u101_normal.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u103_normal.png");
}

* html .u105_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u105_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u107_normal.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u109_normal.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u111_normal.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u113_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u115_normal.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u117_normal.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u119_normal.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u121_normal.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u123_normal.png");
}

* html .u125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u125_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u127_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u129_normal.png");
}

* html .u131_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u131_normal.png");
}

* html .u133_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u133_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u135_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u137_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u139_normal.png");
}

* html .u141_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u141_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u143_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u145_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u147_normal.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u149_normal.png");
}

* html .u151_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u151_normal.png");
}

* html .u153_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u153_normal.png");
}

* html .u155_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u155_normal.png");
}

* html .u157_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u157_normal.png");
}

* html .u159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u159_normal.png");
}

* html .u163_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u163_normal.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u163_normal.png");
}

* html .u169_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u163_normal.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="直播课程_files/u88_normal.png");
}

* html .u195_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u146_normal.png");
}

* html .u198_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u149_normal.png");
}

* html .u201_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="教师端顶部_files/u152_normal.png");
}

