body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u3 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u5_selected {
    background-image: url('../教师中心导航_files/u7_selected.png');
}

.u5_normal {
    background-image: url('../教师中心导航_files/u7_normal.png');
}

.u5_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u6 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u8 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u20 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u23 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u26 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u28_selected {
    background-image: url('../教师中心导航_files/u7_selected.png');
}

.u28_normal {
    background-image: url('../教师中心导航_files/u7_normal.png');
}

.u28_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:48px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_normal {
    background-image: url('../教师中心头部_files/u110_normal.png');
}

.u45_container {
    position:absolute;
    left:30px;
    top:50px;
    width:980px;
    height:150px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:156px;
}

.u46 {
    position:absolute;
    left:2px;
    top:67px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../教师中心头部_files/u112_normal.png');
}

.u47_container {
    position:absolute;
    left:50px;
    top:63px;
    width:121px;
    height:124px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:124px;
}

.u48 {
    position:absolute;
    left:2px;
    top:54px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:194px;
    top:66px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:194px;
    top:142px;
    width:219px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:582px;
    top:75px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:700px;
    top:74px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:452px;
    top:74px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:194px;
    top:178px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../教师中心头部_files/u120_normal.png');
}

.u55_container {
    position:absolute;
    left:194px;
    top:100px;
    width:50px;
    height:31px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:37px;
}

.u56 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../教师中心头部_files/u120_normal.png');
}

.u57_container {
    position:absolute;
    left:254px;
    top:100px;
    width:50px;
    height:31px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:37px;
}

.u58 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../教师中心头部_files/u124_normal.png');
}

.u59_container {
    position:absolute;
    left:840px;
    top:101px;
    width:110px;
    height:39px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:45px;
}

.u60 {
    position:absolute;
    left:2px;
    top:12px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:476px;
    top:127px;
    width:30px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:602px;
    top:127px;
    width:36px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:714px;
    top:125px;
    width:36px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../教师中心头部_files/u129_line.png');
}

.u64_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u64 {
    position:absolute;
    left:420px;
    top:63px;
    width:10px;
    height:121px;
    
}

.u65_line {
    background-image: url('../教师中心头部_files/u130_line.png');
}

.u65_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u65 {
    position:absolute;
    left:550px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u66_line {
    background-image: url('../教师中心头部_files/u131_line.png');
}

.u66_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u66 {
    position:absolute;
    left:674px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u67_line {
    background-image: url('../教师中心头部_files/u132_line.png');
}

.u67_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:121px;
}

.u67 {
    position:absolute;
    left:789px;
    top:65px;
    width:10px;
    height:121px;
    
}

.u68_normal {
    background-image: url('../教师中心头部_files/u133_normal.png');
}

.u68_container {
    position:absolute;
    left:840px;
    top:157px;
    width:110px;
    height:25px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u71_container {
    position:absolute;
    left:50px;
    top:1402px;
    width:970px;
    height:98px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u72 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:242px;
    top:1427px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u74_container {
    position:absolute;
    left:50px;
    top:1362px;
    width:970px;
    height:40px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u75 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u76_container {
    position:absolute;
    left:306px;
    top:1368px;
    width:38px;
    height:28px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u77 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:354px;
    top:1374px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u79_container {
    position:absolute;
    left:482px;
    top:1368px;
    width:38px;
    height:28px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u80 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:530px;
    top:1374px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u82_container {
    position:absolute;
    left:658px;
    top:1368px;
    width:38px;
    height:28px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u83 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:706px;
    top:1372px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../答疑管理_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:192px;
    top:370px;
    width:119px;
    height:25px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:31px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../答疑管理_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u88 {
    position:absolute;
    left:192px;
    top:390px;
    width:818px;
    height:10px;
    
}

.u89 {
    position:absolute;
    left:200px;
    top:250px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../答疑管理_files/u86_normal.png');
}

.u90_container {
    position:absolute;
    left:311px;
    top:370px;
    width:119px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u92 {
    position:absolute;
    left:192px;
    top:410px;
    width:819px;
    height:751px;
    overflow:hidden;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:819px;
    height:751px;
    
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:2px;
    top:42px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:5px;
    top:94px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:710px;
    top:90px;
    width:100px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../答疑管理_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u98 {
    position:absolute;
    left:2px;
    top:130px;
    width:818px;
    height:10px;
    
}

.u99 {
    position:absolute;
    left:0px;
    top:160px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:0px;
    top:192px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:3px;
    top:244px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u102_container {
    position:absolute;
    left:708px;
    top:240px;
    width:100px;
    height:25px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../答疑管理_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u104 {
    position:absolute;
    left:0px;
    top:280px;
    width:818px;
    height:10px;
    
}

.u105 {
    position:absolute;
    left:2px;
    top:310px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:2px;
    top:342px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:5px;
    top:394px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u108_container {
    position:absolute;
    left:710px;
    top:390px;
    width:100px;
    height:25px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../答疑管理_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u110 {
    position:absolute;
    left:2px;
    top:430px;
    width:818px;
    height:10px;
    
}

.u111 {
    position:absolute;
    left:0px;
    top:460px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:0px;
    top:492px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:3px;
    top:544px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u114_container {
    position:absolute;
    left:708px;
    top:540px;
    width:100px;
    height:25px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('../答疑管理_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u116 {
    position:absolute;
    left:0px;
    top:580px;
    width:818px;
    height:10px;
    
}

.u117 {
    position:absolute;
    left:2px;
    top:610px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:2px;
    top:642px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:5px;
    top:694px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u120_container {
    position:absolute;
    left:710px;
    top:690px;
    width:100px;
    height:25px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_line {
    background-image: url('../答疑管理_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u122 {
    position:absolute;
    left:2px;
    top:730px;
    width:818px;
    height:10px;
    
}

.u123 {
    position:absolute;
    left:330px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u124 {
    position:absolute;
    left:192px;
    top:410px;
    width:819px;
    height:851px;
    overflow:hidden;
}

#pd0u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:819px;
    height:851px;
    
}

.u125 {
    position:absolute;
    left:2px;
    top:10px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:2px;
    top:42px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:5px;
    top:90px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_line {
    background-image: url('../答疑管理_files/u128_line.png');
}

.u128_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u128 {
    position:absolute;
    left:2px;
    top:250px;
    width:818px;
    height:10px;
    
}

.u129_normal {
    background-image: url('../答疑管理_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:3px;
    top:130px;
    width:47px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:36px;
}

.u130 {
    position:absolute;
    left:2px;
    top:7px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:60px;
    top:130px;
    width:730px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u132_container {
    position:absolute;
    left:680px;
    top:205px;
    width:100px;
    height:25px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:0px;
    top:290px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:0px;
    top:322px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:3px;
    top:370px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_line {
    background-image: url('../答疑管理_files/u137_line.png');
}

.u137_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u137 {
    position:absolute;
    left:0px;
    top:530px;
    width:818px;
    height:10px;
    
}

.u138_normal {
    background-image: url('../答疑管理_files/u129_normal.png');
}

.u138_container {
    position:absolute;
    left:1px;
    top:410px;
    width:47px;
    height:30px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:36px;
}

.u139 {
    position:absolute;
    left:2px;
    top:7px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:58px;
    top:410px;
    width:730px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u141_container {
    position:absolute;
    left:678px;
    top:485px;
    width:100px;
    height:25px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u142 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:0px;
    top:570px;
    width:743px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:0px;
    top:602px;
    width:713px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:3px;
    top:650px;
    width:350px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_line {
    background-image: url('../答疑管理_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u146 {
    position:absolute;
    left:0px;
    top:810px;
    width:818px;
    height:10px;
    
}

.u147_normal {
    background-image: url('../答疑管理_files/u129_normal.png');
}

.u147_container {
    position:absolute;
    left:1px;
    top:690px;
    width:47px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:36px;
}

.u148 {
    position:absolute;
    left:2px;
    top:7px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:58px;
    top:690px;
    width:730px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u150_container {
    position:absolute;
    left:678px;
    top:765px;
    width:100px;
    height:25px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u151 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../答疑管理_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:460px;
    top:316px;
    width:60px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../答疑管理_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:470px;
    top:1294px;
    width:70px;
    height:25px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u155 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../答疑管理_files/u154_normal.png');
}

.u156_container {
    position:absolute;
    left:700px;
    top:1295px;
    width:70px;
    height:25px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u157 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:610px;
    top:1299px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../答疑管理_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:568px;
    top:1294px;
    width:22px;
    height:25px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:31px;
}

.u160 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:400px;
    top:480px;
    width:441px;
    height:301px;
    overflow:hidden;
}

#pd0u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:441px;
    height:301px;
    
}

.u162_normal {
    background-image: url('../答疑管理_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:6px;
    top:7px;
    width:411px;
    height:30px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:36px;
}

.u163 {
    position:absolute;
    left:2px;
    top:7px;
    width:407px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../答疑管理_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:6px;
    top:37px;
    width:411px;
    height:193px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:199px;
}

.u165 {
    position:absolute;
    left:2px;
    top:88px;
    width:407px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../答疑管理_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:130px;
    top:180px;
    width:140px;
    height:34px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:40px;
}

.u167 {
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:390px;
    top:11px;
    width:20px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:50px;
    top:95px;
    width:240px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:170px;
    top:95px;
    width:120px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u171 {
    position:absolute;
    left:300px;
    top:98px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:200px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../答疑管理_files/u96_normal.png');
}

.u173_container {
    position:absolute;
    left:900px;
    top:309px;
    width:100px;
    height:25px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u174 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_line {
    background-image: url('../答疑管理_files/u175_line.png');
}

.u175_line {
    position:absolute;
    left:0px;
    top:4px;
    width:818px;
    height:3px;
}

.u175 {
    position:absolute;
    left:200px;
    top:280px;
    width:818px;
    height:10px;
    
}

.u176_normal {
    background-image: url('../教师端顶部_files/u146_normal.png');
}

.u176_container {
    position:absolute;
    left:30px;
    top:1px;
    width:980px;
    height:26px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u177 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:810px;
    top:6px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../教师端顶部_files/u149_normal.png');
}

.u179_container {
    position:absolute;
    left:870px;
    top:7px;
    width:20px;
    height:16px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u180 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:35px;
    top:8px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../教师端顶部_files/u152_normal.png');
}

.u182_container {
    position:absolute;
    left:900px;
    top:3px;
    width:78px;
    height:23px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:29px;
}

.u183 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

