body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:64px;
}
#u2054 {
  position:absolute;
  left:57px;
  top:64px;
  width:830px;
  height:63px;
  line-height:24px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u2056 {
  position:absolute;
  left:57px;
  top:23px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u2058 {
  position:absolute;
  left:57px;
  top:150px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:97px;
}
#u2060 {
  position:absolute;
  left:57px;
  top:192px;
  width:830px;
  height:96px;
  line-height:24px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
}
#u2062 {
  position:absolute;
  left:57px;
  top:346px;
  width:163px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:49px;
}
#u2064 {
  position:absolute;
  left:57px;
  top:388px;
  width:830px;
  height:48px;
  line-height:24px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
