body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:29px;
  width:650px;
  height:520px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:520px;
}
#u4 {
  position:absolute;
  left:2px;
  top:252px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:11px;
  top:8px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:285px;
  top:500px;
  width:80px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:630px;
  top:4px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:61px;
  top:52px;
  width:45px;
  height:16px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:381px;
  top:52px;
  width:45px;
  height:16px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:56px;
  top:104px;
  width:45px;
  height:16px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:368px;
  top:104px;
  width:58px;
  height:16px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:386px;
  top:156px;
  width:40px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:40px;
  top:208px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:35px;
  top:156px;
  width:71px;
  height:16px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:368px;
  top:208px;
  width:53px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:400px;
  top:500px;
  width:80px;
  height:30px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:61px;
  top:365px;
  width:45px;
  height:16px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:110px;
  top:410px;
  width:508px;
  height:70px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:66px;
  top:434px;
  width:40px;
  height:16px;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:170px;
  top:500px;
  width:80px;
  height:30px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:48px;
  top:313px;
  width:58px;
  height:16px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:355px;
  top:313px;
  width:71px;
  height:16px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:110px;
  top:48px;
  width:190px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u38 {
  position:absolute;
  left:428px;
  top:48px;
  width:190px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u39 {
  position:absolute;
  left:110px;
  top:100px;
  width:190px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u40 {
  position:absolute;
  left:110px;
  top:153px;
  width:190px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u41 {
  position:absolute;
  left:110px;
  top:206px;
  width:190px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u42 {
  position:absolute;
  left:428px;
  top:100px;
  width:190px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u43 {
  position:absolute;
  left:430px;
  top:153px;
  width:190px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u44 {
  position:absolute;
  left:430px;
  top:206px;
  width:190px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u45 {
  position:absolute;
  left:430px;
  top:307px;
  width:190px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u46 {
  position:absolute;
  left:110px;
  top:360px;
  width:190px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u47 {
  position:absolute;
  left:40px;
  top:261px;
  width:66px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:110px;
  top:258px;
  width:508px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u50 {
  position:absolute;
  left:110px;
  top:308px;
  width:190px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u51 {
  position:absolute;
  left:670px;
  top:28px;
  width:560px;
  height:521px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:521px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
