body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1674 {
  position:absolute;
  left:17px;
  top:82px;
  width:614px;
  height:1205px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1676 {
  position:absolute;
  left:7px;
  top:0px;
  width:50px;
  height:64px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:42px;
}
#u1678 {
  position:absolute;
  left:77px;
  top:14px;
  width:65px;
  height:41px;
  font-size:32px;
  color:#CCCCCC;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:971px;
}
#u1680 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:970px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u1682 {
  position:absolute;
  left:659px;
  top:248px;
  width:60px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:85px;
}
#u1685 {
  position:absolute;
  left:47px;
  top:178px;
  width:546px;
  height:84px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u1687 {
  position:absolute;
  left:249px;
  top:220px;
  width:142px;
  height:27px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1689 {
  position:absolute;
  left:59px;
  top:216px;
  width:32px;
  height:32px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:397px;
}
#u1691 {
  position:absolute;
  left:659px;
  top:302px;
  width:509px;
  height:396px;
  font-size:18px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:290px;
}
#u1693 {
  position:absolute;
  left:91px;
  top:1149px;
  width:442px;
  height:290px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:137px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:178px;
}
#u1695 {
  position:absolute;
  left:17px;
  top:1126px;
  width:606px;
  height:177px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:80px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:189px;
}
#u1697 {
  position:absolute;
  left:31px;
  top:1283px;
  width:617px;
  height:188px;
}
#u1698 {
  position:absolute;
  left:2px;
  top:86px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:360px;
}
#u1699 {
  position:absolute;
  left:47px;
  top:788px;
  width:546px;
  height:360px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:172px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u1702 {
  position:absolute;
  left:520px;
  top:224px;
  width:27px;
  height:23px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1704 {
  position:absolute;
  left:557px;
  top:223px;
  width:27px;
  height:25px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
