<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>教师信息修改</title>
<link href="../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../../common/css/reset.css" rel="stylesheet" />
<link href="../../../common/css/gta-layout.css" rel="stylesheet" />
<link href="../../../common/css/sideBar.css" rel="stylesheet" />
<link href="../../../common/css/basic-data.css" rel="stylesheet" />
<link href="../../../common/css/skins.css" rel="stylesheet" />
<link href="../../../common/css/ztree/zTreeStyle.css" rel="stylesheet"/>
<link href="../../../common/css/webuploader/webuploader.css" rel="stylesheet" />
<!--日期样式-->
<link href="../../../common/js/base/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
</head>
<body id=editContent>
</body>
</html>
<script id="editTmpl" type="text/x-jquery-tmpl">
	<form id="addWorkForm">
		<input type="text" class="form-control inp-com" id="teacherId"
			name="schoolId" style="display: none;">
		<div class="pop-con box900">
			<div class="row">
				<div class="col-xs-12">
					<h3 class=" school-titlle">基本信息</h3>
					<div  class="school-infoList" >
					<table width="100%" border="0"cellspacing="0" cellpadding="0">
						<tbody>
						<tr>
						<th><label for="name"><i class="text-danger">*</i>工号：</label></th>
						<td>
						<div class="tips-text verification-info">
						<input class="form-control  inp-com" name="teacherNo" id="teacherNo" value="${teacherNo}" maxlength="10" />
						</div>
						</td>
						<th><label for="name"><i class="text-danger">*</i>姓名：</label></th>
						<td>
						<div class="tips-text verification-info">
						<input class="form-control inp-com" name="teacherName" id="teacherName" value="${teacherName}" maxlength="50"  />
						</div></td>
						<th colspan="2" rowspan="6" align="center" valign="top">
                        <div class="avatar-upload clearfix">
                        <div class="avatar-photo"><img src="../../../common/images/avatar.png"  id="teacherImage"/></div>
  						<input type="hidden" id="fileId" name="fileId" value="${fileId}" >
                        <div class="btn btn-success width-default mt20 clearfix" name="ico-selpop" id="importBtn">上传照片</div>
                        </div>
                        <p class="text-center font-12 text-danger ml50">支持小于1M且JPG格式的1寸大小照片</p>
                        </th>
						</tr>
						<tr>
							<th><label for="name">曾用名：</label></th>
							<td><input class="form-control" name="usedName" id="usedName" maxlength="50"  value="${usedName}" ></td>
							<th><label for="name"><i class="text-danger">*</i>性别：</label></th>
							<td>
							<div class="tips-text verification-info">
							<select class="form-control sel-com" id="sexCode" name="sexCode">
							</select>
							</div></td>
						  </tr>
                        <tr>
							<th><label for="name"><i class="text-danger">*</i>教学单位：</label></th>
							<td><div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="teachingUnitName" name="teachingUnitName" type="text" value="${teachingUnitName}"
							readonly="readonly" > <input type="hidden" id="teachingUnitId"
							name="teachingUnitId" value="${teachingUnitId}" >
					</div>
					<ul id="teachingUnitTree" class="ztree input-tree toggle-ui-up"></ul>
				</div>
				</td>
							<th><label for="name"><i class="text-danger">*</i>行政单位：</label></th>
							<td>
						<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="administrativeUnitName" name="administrativeUnitName" type="text" value="${administrativeUnitName}"
							readonly="readonly" > <input type="hidden" id="administrativeUnitId" value="${administrativeUnitId}"
							name="administrativeUnitId"  >
					</div>
					<ul id="administrativeUnitTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
							</td>
						  </tr>
                        <tr>
							<th><label for="name"><i class="text-danger">*</i>身份证件类型：</label></th>
							<td>
							<div class="tips-text verification-info">
							<select class="form-control sel-com" id="idCardTypeCode" name="idCardTypeCode">
							</select>
							</div></td>
                            <th><label for="name"><i class="text-danger">*</i>身份证件号：</label></th>
							<td>
							<div class="tips-text verification-info">
							<input class="form-control inp-com" name="idCard" id="idCard" value="${idCard}"  maxlength="20"/>
							</div>
							</td>
						  </tr>
						<tr>
							<th><label for="name">出生日期：</label></th>
							<td class=" formtext"><input id="birthday" name="birthday" type="text" class="form-control wdate valid" onclick="WdatePicker();" value="{{if birthday}}${$item.format(birthday)}{{else}}{{/if}}" ></td>
							<th><label for="name">籍贯：</label></th>
							<td><input class="form-control" name="nativePlace" id="nativePlace" maxlength="50"   value="${nativePlace}" ></td>
						  </tr>
						<tr>
							<th><label for="name">民族：</label></th>
							<td>
								<div class="tips-text verification-info w220">
											<input type="hidden" id="nationCode" name="nationCode" value="${nationCode}" >
											<div id="nationSelect"></div>
										</div></td>
							<th><label for="name">国籍：</label></th>
							<td><div class="tips-text verification-info w220">
											<input type="hidden" id="nationalityCode" name="nationalityCode" value="${nationalityCode}" >
											<div id="nationalitySelect"></div>
										</div></td>
						  </tr>
						<tr>
							<th><label for="name">婚姻状况：</label></th>
							<td><select class="form-control" id="maritalStatusCode" name="maritalStatusCode">
							</select>
								</td>
							<th><label for="name">港澳台侨外：</label></th>
							<td><select class="form-control" id="overseasChineseCode" name="overseasChineseCode">
							</select></td>

							<th><label for="name">政治面貌：</label></th>
							<td><select class="form-control" id="politicalStatusCode" name="politicalStatusCode">
							</select></td>
						</tr>
                        <tr>
							<th><label for="name">健康状况：</label></th>
							<td><select class="form-control" id="healthCode" name="healthCode">
							</select>
						  </td>
							<th><label for="name">所在校区：</label></th>
							<td><select class="form-control" id="campusId" name="campusId">
							</select></td>

							<th><label for="name">最高学历：</label></th>
							<td>
							<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="highestEducationName" name="highestEducationName" type="text"  readonly="readonly" value="${highestEducationName}"> 
						<input type="hidden" id="highestEducationCode" name="highestEducationCode" value="${highestEducationCode}" >
					</div>
					<ul id="highestEducationTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
							</td>
						</tr>
                        <tr>
							<th><label for="name">最高学位：</label></th>
							<td>
							<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="highestDegreeName" name="highestDegreeName" type="text" readonly="readonly" value="${highestDegreeName}"  > 
						<input type="hidden" id="highestDegreeCode" name="highestDegreeCode" value="${highestDegreeCode}" >
					</div>
					<ul id="highestDegreeTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
						  </td>
							<th><label for="name">最高职称：</label></th>
							<td>
							<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="highestTitleName" name="highestTitleName" type="text" readonly="readonly"  value="${highestTitleName}"  > 
						<input type="hidden" id="highestTitleCode" name="highestTitleCode" value="${highestTitleCode}" >
					</div>
					<ul id="highestTitleTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
							</td>
							<th><label for="name">行政职务：</th>
							<td><input class="form-control" name="administrativeDuty" id="administrativeDuty" maxlength="20"  value="${administrativeDuty}"></td>
						</tr>
                        <tr>
							<th><label for="name"><i class="text-danger">*</i>教师类型：</label></th>
							<td><select class="form-control" id="teacherTypeCode" name="teacherTypeCode" >
							</select>
						  </td>
							<th><label for="name">参加工作年月：</label></th>
							<td><input id="workingDate" name="workingDate" type="text" class="form-control wdate valid" onclick="WdatePicker({dateFmt:'yyyy-MM'});" value="{{if workingDate}}${$item.format(workingDate,'yyyy-MM')}{{else}}{{/if}}"></td>

							<th><label for="name">来校日期：</label></th>
							<td><span class=" formtext">
							  <input id="arrivalDate" name="arrivalDate" type="text" class="form-control wdate valid" onclick="WdatePicker();" value="{{if arrivalDate}}${$item.format(arrivalDate)}{{else}}{{/if}}" >
							</span></td>
						</tr>
                        <tr>
							<th><label for="name">从教年月：</label></th>
							<td><input id="teachingDate" name="teachingDate" type="text" class="form-control wdate valid" onclick="WdatePicker({dateFmt:'yyyy-MM'});" value="{{if teachingDate}}${$item.format(teachingDate,'yyyy-MM')}{{else}}{{/if}}" ></td>
							<th><label for="name">编制类别：</label></th>
							<td><select class="form-control" id="compilationCategoryCode" name="compilationCategoryCode">
							</select></td>

							<th><label for="name">教职工类别：</label></th>
							<td>
							<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="staffCategoryName" name="staffCategoryName" type="text" readonly="readonly" value="${staffCategoryName}"  > 
						<input type="hidden" id="staffCategoryCode"
							name="staffCategoryCode" value="${staffCategoryCode}" >
					</div>
					<ul id="staffCategoryTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
							</td>
						</tr>
                        <tr>
							<th><label for="name">任课状况：</label></th>
							<td>
							<div class="toggle-tree-con vertical-align-mid drop-down-normal need-clear">
					<div class="tips-text verification-info w220">
						<input class="form-control inp-com toggle-tree"
							id="classroomSituationName" name="classroomSituationName" type="text" readonly="readonly" value="${classroomSituationName}" > 
						<input type="hidden" id="classroomSituationCode" name="classroomSituationCode" value="${classroomSituationCode}" >
					</div>
					<ul id="classroomSituationTree" class="ztree input-tree toggle-ui-up"></ul>
					</div>
						  </td>
							<th><label for="name"><i class="text-danger">*</i>当前状态：</label></th>
							<td><select class="form-control" id="currentState" name="currentState">
							</select></td>

							<th><label for="name">研究方向：</label></th>
							<td><input class="form-control" name="researchDirection" id="researchDirection" maxlength="50" value="${researchDirection}" ></td>
						</tr>
						</tbody>
					</table>
					</div>
					<h3 class=" school-titlle">联系信息</h3>
					<div  class="school-infoList" >
						<table width="100%" border="0"cellspacing="0" cellpadding="0">
							<tbody>
							<tr>
								<th><label for="name">办公电话：</label></th>
								<td>
						<div class="tips-text verification-info">
						<input class="form-control inp-com" name="officePhone" id="officePhone" maxlength="50" value="${officePhone}">
						</div></td>
								<th><label for="name">移动电话：</label></th>
								<td><div class="tips-text verification-info">
						<input class="form-control inp-com" name="mobilePhone" id="mobilePhone" value="${mobilePhone}" >
						</div></td>
								<th><label for="name">传真号码：</label></th>
								<td><div class="tips-text verification-info">
						<input class="form-control inp-com" name="fax" id="fax" value="${fax}" maxlength="50"  >
						</div></td>
							</tr>
							<tr>
								<th><label for="name">电子信箱：</label></th>
								<td class=" formtext"><div class="tips-text verification-info">
						<input class="form-control inp-com" name="email" id="email" maxlength="30" value="${email}" >
						</div></td>
								<th><label for="name">QQ号：</label></th>
								<td><div class="tips-text verification-info">
						<input class="form-control inp-com" name="qq" id="qq" maxlength="15"  value="${qq}"  >
						</div></td>
								<th><label for="name">微信号：</label></th>
								<td><input class="form-control" name="wechat" id="wechat" maxlength="20" value="${wechat}" ></td>
							</tr>
							<tr>
								<th><label for="name">邮政编码：</label></th>
								<td><div class="tips-text verification-info">
						<input class="form-control inp-com" name="postalCode" id="postalCode"  maxlength="6" value="${postalCode}">
						</div></td>
								<th><label for="name">通信地址：</label></th>
								<td colspan="3"><input class="form-control" name="address" id="address" maxlength="100"  value="${address}" ></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<input type="text" class="form-control inp-com" id="userId"
			name="userId" style="display: none;" value="${userId}">
	</form>	
</script>

<!-- jquery版本 -->
<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<script src="../../../common/js/base/My97DatePicker/WdatePicker.js"></script>
<!-- bootstrap -->
<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
<!-- Seajs 模块化开发，请一定遵守 -->
<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
<!-- 弹窗 -->
<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
<!-- 验证 -->
<script src="../../../common/js/base/jquery/jquery.validate.js"></script>
<script src="../../../common/js/base/jquery/jquery.validate.custom.js"></script>
<script src="../../../common/js/base/ztree/jquery.ztree.core-3.5.min.js"></script>
<script src="../../../common/js/base/ztree/jquery.ztree.excheck-3.5.min.js"></script>
<!-- 模块渲染template -->
<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
<script src="../../../common/js/base/webuploader/webuploader.js"></script>

<script type="text/javascript">
	seajs.config({
		paths : {
			"basePath":"../../../common/js",
			"localPath" : "../js"
		}
	});
	seajs.use("localPath/teacher", function(teacher) {
		teacher.initUpdate();
	});

</script>

