<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>教师信息</title>
<!-- ui提供的公共的样式 -->
<link href="../../../common/css/bootstrap/bootstrap.min.css"
	rel="stylesheet" />
<link href="../../../common/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../../common/css/reset.css" rel="stylesheet" />
<link href="../../../common/css/gta-layout.css" rel="stylesheet" />
<link href="../../../common/css/sideBar.css" rel="stylesheet" />
<link href="../../../common/css/popup.css" rel="stylesheet" />
<link href="../../../common/css/basic-data.css" rel="stylesheet" />
<link href="../../../common/css/skins.css" rel="stylesheet" />
<!-- 下面这个是树目录控件的css -->
<link href="../../../common/css/ztree/zTreeStyle.css" rel="stylesheet" />
	<!-- jquery版本 -->
	<script src="../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
	<!-- bootstrap -->
	<script src="../../../common/js/base/bootstrap/bootstrap.js"></script>
	<script src="../../../common/js/base/seajs/2.2.0/sea.js"></script>
	<!-- 弹窗 -->
	<script src="../../../common/js/base/jquery/jquery.artDialog.source.js"></script>
	<script src="../../../common/js/base/jquery/iframeTools.source.js"></script>
	<!-- 模块渲染template -->
	<script src="../../../common/js/base/jquery/jquery.tmpl.js"></script>
	<!-- 树形结构 -->
	<script src="../../../common/js/base/ztree/jquery.ztree.core-3.5.min.js"></script>
	<script src="../../../common/js/base/ztree/jquery.ztree.excheck-3.5.min.js"></script>
	<!-- 分页 -->
	<script src="../../../common/js/base/core/page/pagination.js"></script>
	<link href="../../../common/js/base/core/page/pagination.css"
		  rel="stylesheet" />
	<!-- 验证 -->
	<script src="../../../common/js/base/jquery/jquery.validate.js"></script>
	<script src="../../../common/js/base/jquery/jquery.validate.custom.js"></script>
	<!--加载meta IE兼容文件-->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body  page-auth-code="BaseData_Teacher">
	<!-- 内容框架 开始------------------------------------------------------------->
	<div class="layout-index pl15">
		<!--左侧树-->
		<div class="lefttree-con">
			<input type="hidden" id="departmentLevel" value="0"/>
			<input type="hidden" id="parentName" />
			<ul  id="ztree" class="ztree"> </ul>
		</div>
		<!--右侧内容-->
		<div class="y-rightCon">

			<div class="col-xs-12">
				<div class="container-fluid header-small header-con">
				<form id="queryForm">
				<input type="hidden" name="departmentId" id="departmentId" >
				<input type="hidden" name="departmentName" id="departmentName" >
					<div class="col-sm-6 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">工号：</label> <input class="form-control inp-com"
																  name="teacherNo" id="teacherNo" maxlength=50 value="" />
						</div>
						</div>
					<div class="col-sm-6 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">姓名：</label> <input class="form-control inp-com"
																 name="teacherName" id="teacherName" maxlength=50 value="" />
						</div>
					</div>
					<div class="col-sm-6 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">性别：</label> <select
								class="form-control sel-com" id="sexCode" name="sexCode">
							<option value="">全部</option>
						</select>
						</div>
					</div>
					<div class="col-sm-6 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">教师类型：</label> <select
								class="form-control sel-com" id="teacherTypeCode" name="teacherTypeCode">
							<option value="">全部</option>
						</select>
					</div>
					</div>
					<div class="col-sm-6 form-inline form-inp-con">
						<div class="form-group">
							<label for="name">当前状态：</label> <select
								class="form-control sel-com" id="currentState" name="currentState">
							<option value="">全部</option>
						</select>
						</div>
					</div>
					</form>
					<button type="button" class="btn btn-primary header-btn" name="query" id="query">查询</button>
				</div>

			</div>
			<!-- 正式内容区域 开始 ------>
			<div class="sub-content">
				<div class="box">
					<div class="box-header pull-right">
						<button type="button" class="btn btn-success" name="addTeacher" auth-code="BaseData_Teacher_Add">新增</button>
						<button type="button" class="btn btn-danger" name="batchTeacherDelete" auth-code="BaseData_Teacher_Delete">删除</button>
						<button type="button" class="btn btn-success" name="importTeacher" auth-code="BaseData_Teacher_Import">导入</button>
						<button type="button" class="btn btn-success" name="exportTeacher" auth-code="BaseData_Teacher_Export">导出</button>
					</div>
					<div class="box-body">
						<div class="scorll-box">
							<div class="table-box">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th class="width03"><div class="checkbox-con"><input type="checkbox" id="check-all" value="" class="checNormal"></div></th>
									<th class="width48">序号</th>
									<th>工号</th>
									<th>姓名</th>
									<th class="width06">性别</th>
									<th>教学部门</th>
									<th>行政部门</th>
									<th class="width07">教师类型</th>
									<th class="width07">当前状态</th>
									<th>移动电话</th>
									<th class="width85">操作</th>
								</tr>
								</thead>
								<tbody id="tbodycontent" >
								
								</tbody>
							</table>
						</div>
						</div>
					</div>
					<div id="pagination" class="pagination"></div>
				</div>

			</div>
			<!-- 正式内容区域 结束 --- -->

		</div>
	</div>
	<!-- 内容框架 结束 ------------------------------------------------------------>

<script id="teacherTableTmpl" type="text/x-jquery-tmpl">
	<tr class="trDataTT tr-checkbox" data-tt-id="${userId}">
        <td class="width03">
		{{if isExsitReference }}
			<div class="checkbox-con disabled-check"><input type="checkbox" name="checNormal" userId="${userId}" class="checNormal" disabled="disabled"></div>
		{{else}}
			<div class="checkbox-con"><input type="checkbox" name="checNormal" userId="${userId}" class="checNormal"></div>
		{{/if}}
		</td>
		<td title="${id}" class="width48">${id}</td>
		<td class="text-l" title="${teacherNo}">${teacherNo}</td>
		<td class="text-l" title="${teacherName}">${teacherName}</td>
		<td title="${sexName}" class="width06">${sexName}</td>
		<td class="text-l" title="${teachingUnitName}">${teachingUnitName}</td>
		<td class="text-l" title="${administrativeUnitName}">${administrativeUnitName}</td>
		<td class="width07" title="${teacherTypeName}">${teacherTypeName}</td>
		<td class="width07" title="${currentStateName}">${currentStateName}</td>
		<td title="${mobilePhone}">${mobilePhone}</td>
		<td class="width85">
			<button type="button" class="btn-text" name="editTeacher" data-tt-id="${userId}" auth-code="BaseData_Teacher_Update">修改</button>
		{{if isExsitReference }}
			<button type="button" class="btn-text disabled" disabled="disabled" name="deleteTeacher" data-tt-id="${userId}" auth-code="BaseData_Teacher_Delete">删除</button>
		{{else}}
			<button type="button" class="btn-text" name="deleteTeacher" data-tt-id="${userId}" auth-code="BaseData_Teacher_Delete">删除</button>
		{{/if}}
		</td>
	</tr>
</script>
<script type="text/javascript">
	//两种方法引用
	seajs.config({
		paths : {
			"basePath":"../../../common/js",
			"localPath" : "../js"
		}
	});
	seajs.use("localPath/teacher", function(teacher) {
		teacher.init();
	});
</script>
</body>
</html>
