body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:199px;
  top:78px;
  width:1001px;
  height:652px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:652px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  color:#0099FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u4 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:15px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:79px;
  width:200px;
  height:651px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:651px;
}
#u8 {
  position:absolute;
  left:2px;
  top:318px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:24px;
  width:197px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:307px;
  top:33px;
  width:143px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:79px;
  width:200px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:810px;
  top:50px;
  width:30px;
  height:27px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:845px;
  top:55px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:885px;
  top:50px;
  width:30px;
  height:27px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:920px;
  top:54px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:957px;
  top:50px;
  width:30px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:992px;
  top:54px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1060px;
  top:26px;
  width:30px;
  height:27px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1100px;
  top:32px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1168px;
  top:32px;
  width:9px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:735px;
  top:48px;
  width:30px;
  height:27px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:770px;
  top:54px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:217px;
  top:90px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:210px;
  top:106px;
  width:990px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:990px;
  height:1px;
}
#u40 {
  position:absolute;
  left:230px;
  top:137px;
  width:77px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:230px;
  top:206px;
  width:103px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:317px;
  top:132px;
  width:100px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:333px;
  top:202px;
  width:200px;
  height:25px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:543px;
  top:202px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:655px;
  top:202px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:230px;
  top:239px;
  width:704px;
  height:100px;
  line-height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:100px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1070px;
  top:362px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:230px;
  top:367px;
  width:347px;
  height:16px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:230px;
  top:172px;
  width:77px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:317px;
  top:172px;
  width:192px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:516px;
  top:172px;
  width:194px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:230px;
  top:393px;
  width:945px;
  height:95px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:49px;
  top:0px;
  width:132px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:181px;
  top:0px;
  width:146px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:327px;
  top:0px;
  width:613px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:609px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:30px;
  width:49px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:49px;
  top:30px;
  width:132px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:181px;
  top:30px;
  width:146px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:327px;
  top:30px;
  width:613px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:60px;
  width:49px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:49px;
  top:60px;
  width:132px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:181px;
  top:60px;
  width:146px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:327px;
  top:60px;
  width:613px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:80px;
  width:205px;
  height:320px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:35px;
  width:200px;
  height:35px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:35px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:105px;
  width:200px;
  height:35px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:35px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:175px;
  width:200px;
  height:35px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:210px;
  width:200px;
  height:35px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:245px;
  width:200px;
  height:35px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:35px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1228px;
  top:54px;
  width:362px;
  height:240px;
  color:#FF0000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:240px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
