body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:700px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:342px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315 {
  position:absolute;
  left:203px;
  top:84px;
  visibility:hidden;
}
#u1315_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1315_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:354px;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:354px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:169px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1315_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:451px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:451px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:218px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321 {
  position:absolute;
  left:6px;
  top:84px;
  width:137px;
  height:405px;
}
#u1321_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1323 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1323_img.selected {
}
#u1323.selected {
}
#u1324 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1326 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1322_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1329 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1330 {
  position:absolute;
  left:20px;
  top:40px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1332 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1333 {
  position:absolute;
  left:20px;
  top:60px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u1335 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1336 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1338 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1339 {
  position:absolute;
  left:20px;
  top:100px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1341 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1342 {
  position:absolute;
  left:0px;
  top:120px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1343 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1343_img.selected {
}
#u1343.selected {
}
#u1344 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1346 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1342_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1347 {
  position:absolute;
  left:20px;
  top:20px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1349 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1350 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u1352 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1353 {
  position:absolute;
  left:20px;
  top:60px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1355 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1356 {
  position:absolute;
  left:0px;
  top:200px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1357 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1357_img.selected {
}
#u1357.selected {
}
#u1358 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u1360 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1356_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1361 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1363 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1364 {
  position:absolute;
  left:0px;
  top:240px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1365 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1365_img.selected {
}
#u1365.selected {
}
#u1366 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1368 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1364_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1369 {
  position:absolute;
  left:20px;
  top:20px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u1371 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1372 {
  position:absolute;
  left:20px;
  top:40px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u1374 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1375 {
  position:absolute;
  left:20px;
  top:60px;
  width:74px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:22px;
  top:0px;
  width:52px;
  height:20px;
}
#u1377 {
  position:absolute;
  left:3px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u1378 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u1380 {
  position:absolute;
  left:3px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1381 {
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1383 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1384 {
  position:absolute;
  left:20px;
  top:120px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u1386 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1387 {
  position:absolute;
  left:20px;
  top:140px;
  width:98px;
  height:20px;
  font-size:14px;
  color:#FFFF00;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u1389 {
  position:absolute;
  left:3px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1391 {
  position:absolute;
  left:414px;
  top:629px;
  width:76px;
  height:40px;
  font-size:16px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1393 {
  position:absolute;
  left:316px;
  top:629px;
  width:88px;
  height:40px;
  font-size:18px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1395 {
  position:absolute;
  left:512px;
  top:629px;
  width:104px;
  height:40px;
  font-size:16px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1397 {
  position:absolute;
  left:249px;
  top:118px;
  visibility:hidden;
}
#u1397_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1397_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:354px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:354px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:169px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1397_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:451px;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:451px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:218px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402 {
  position:absolute;
  left:211px;
  top:145px;
  visibility:hidden;
}
#u1402_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1402_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:354px;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:354px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:169px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1402_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:422px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:422px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:203px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  position:absolute;
  left:779px;
  top:100px;
  width:141px;
  height:60px;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1410 {
  position:absolute;
  left:853px;
  top:447px;
  width:85px;
  height:125px;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1413 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1420 {
  position:absolute;
  left:866px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u1421 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1422 {
  position:absolute;
  left:794px;
  top:18px;
  width:54px;
  height:31px;
  font-size:18px;
  color:#FFFFFF;
}
#u1423 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
