body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../答疑提问_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:170px;
    top:267px;
    width:840px;
    height:703px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:846px;
    height:709px;
}

.u1 {
    position:absolute;
    left:2px;
    top:344px;
    width:836px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:189px;
    top:297px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:189px;
    top:327px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../答疑提问_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u4 {
    position:absolute;
    left:189px;
    top:353px;
    width:794px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:829px;
    top:325px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../答疑提问_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:170px;
    top:970px;
    width:836px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:842px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:832px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:25px;
    top:184px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../答疑提问_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u9 {
    position:absolute;
    left:189px;
    top:519px;
    width:794px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:829px;
    top:474px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:189px;
    top:545px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:189px;
    top:575px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../答疑提问_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u13 {
    position:absolute;
    left:189px;
    top:601px;
    width:794px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:829px;
    top:573px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:189px;
    top:621px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:189px;
    top:651px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../答疑提问_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u17 {
    position:absolute;
    left:189px;
    top:677px;
    width:794px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:829px;
    top:649px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:189px;
    top:703px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:189px;
    top:733px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../答疑提问_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u21 {
    position:absolute;
    left:189px;
    top:759px;
    width:794px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:829px;
    top:731px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:189px;
    top:787px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:208px;
    top:817px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../答疑提问_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u25 {
    position:absolute;
    left:212px;
    top:843px;
    width:794px;
    height:10px;
    
}

.u26 {
    position:absolute;
    left:684px;
    top:815px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:208px;
    top:869px;
    width:590px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:208px;
    top:899px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../答疑提问_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u29 {
    position:absolute;
    left:212px;
    top:925px;
    width:794px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:684px;
    top:897px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../答疑提问_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:189px;
    top:373px;
    width:50px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u32 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:249px;
    top:376px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:249px;
    top:398px;
    width:566px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:249px;
    top:483px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:170px;
    top:233px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u42_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u42_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u53_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u53_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u64_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u64_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u65 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u72_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u72_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u84 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u86_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u87 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u89_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u89_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u90 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u92_normal {
    background-image: url('../学生中心头部_files/u117_normal.png');
}

.u92_container {
    position:absolute;
    left:30px;
    top:36px;
    width:980px;
    height:154px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:160px;
}

.u93 {
    position:absolute;
    left:2px;
    top:69px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../学生中心头部_files/u119_normal.png');
}

.u94_container {
    position:absolute;
    left:50px;
    top:61px;
    width:112px;
    height:105px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:111px;
}

.u95 {
    position:absolute;
    left:2px;
    top:43px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:186px;
    top:64px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:595px;
    top:106px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:730px;
    top:102px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../学生中心头部_files/u124_line.png');
}

.u99_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u99 {
    position:absolute;
    left:545px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u100_line {
    background-image: url('../学生中心头部_files/u125_line.png');
}

.u100_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u100 {
    position:absolute;
    left:692px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u101_line {
    background-image: url('../学生中心头部_files/u126_line.png');
}

.u101_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u101 {
    position:absolute;
    left:840px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u102 {
    position:absolute;
    left:296px;
    top:69px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../学生中心头部_files/u128_normal.png');
}

.u103_container {
    position:absolute;
    left:454px;
    top:52px;
    width:51px;
    height:51px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
}

.u104 {
    position:absolute;
    left:2px;
    top:18px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../学生中心头部_files/u130_normal.png');
}

.u105_container {
    position:absolute;
    left:738px;
    top:53px;
    width:45px;
    height:45px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u106 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../学生中心头部_files/u132_normal.png');
}

.u107_container {
    position:absolute;
    left:890px;
    top:56px;
    width:40px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u108 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:897px;
    top:103px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../学生中心头部_files/u135_line.png');
}

.u110_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u110 {
    position:absolute;
    left:420px;
    top:47px;
    width:10px;
    height:130px;
    
}

.u111_normal {
    background-image: url('../学生中心头部_files/u136_normal.png');
}

.u111_container {
    position:absolute;
    left:606px;
    top:55px;
    width:41px;
    height:41px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:41px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:466px;
    top:110px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../学生中心头部_files/u139_normal.png');
}

.u114_container {
    position:absolute;
    left:187px;
    top:90px;
    width:23px;
    height:22px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
}

.u115 {
    position:absolute;
    left:2px;
    top:3px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:218px;
    top:95px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:187px;
    top:117px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:185px;
    top:157px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:271px;
    top:133px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:1030px;
    top:210px;
    width:691px;
    height:501px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:691px;
    height:501px;
    
}

.u121_normal {
    background-image: url('../学生中心头部_files/u146_normal.png');
}

.u121_container {
    position:absolute;
    left:10px;
    top:10px;
    width:660px;
    height:470px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:476px;
}

.u122 {
    position:absolute;
    left:2px;
    top:227px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../学生中心头部_files/u148_normal.png');
}

.u123_container {
    position:absolute;
    left:30px;
    top:30px;
    width:207px;
    height:104px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:104px;
}

.u124 {
    position:absolute;
    left:2px;
    top:44px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../学生中心头部_files/u150_normal.png');
}

.u125_container {
    position:absolute;
    left:44px;
    top:134px;
    width:180px;
    height:166px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:172px;
}

.u126 {
    position:absolute;
    left:2px;
    top:75px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:280px;
    top:44px;
    width:270px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:280px;
    top:86px;
    width:370px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../学生中心头部_files/u154_normal.png');
}

.u129_container {
    position:absolute;
    left:620px;
    top:10px;
    width:50px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u130 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../答疑提问_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:890px;
    top:232px;
    width:100px;
    height:25px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

