<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<title>实践任务查询（按年级/专业）</title>
<link href="../../../../common/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../common/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../../../common/css/reset.css" rel="stylesheet" />
<link href="../../../../common/css/gta-layout.css" rel="stylesheet" />
<link href="../../../../common/css/sideBar.css" rel="stylesheet" />
<link href="../../../../common/css/basic-data.css" rel="stylesheet" />
<link href="../../../../common/css/popup.css" rel="stylesheet" />
<link href="../../../../common/css/skins.css" rel="stylesheet" />
<link href="../../../../common/css/courseplan.css" rel="stylesheet" />
<!--日期样式-->
<link href="../../../../common/js/base/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
</head>
<body page-auth-code="CoursePlan_Practice_Query_TeachingFaculty" style="overflow:hidden;">
	<!-- 内容框架 开始------------------------------------------------------------->
	<div class="layout-index">
		<div class="container-fluid col-xs-12">
			<div class="header-con ">
				<form id="">
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="schoolCalendar">学年学期：</label> 
								<select class="form-control sel-com" id="semester" name="semester">
								</select>
							</div>
						</div>						
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">年级：</label> 
								<select class="form-control sel-com" id="grade" name="grade">									
								</select>
							</div>
						</div>
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">院系：</label> 
								<select class="form-control sel-com" id="departmentId" name="departmentId">									
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">专业：</label> 
								<select class="form-control sel-com" id="majorId" name="majorId">									
								</select>
							</div>
						</div>
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="">环节号/名称：</label> 
								<input type="text" class="form-control inp-com" id="courseNoOrName" name="courseNoOrName"/>
							</div>
						</div>					
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="name">环节类别：</label> 
								<select class="form-control sel-com" id="tacheTypeCode" name="tacheTypeCode">									
								</select>
							</div>
						</div>		
					</div>
					<div class="row">
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="">指导教师：</label> 
								<input type="text" class="form-control inp-com" id="useridList" name="useridList"/>
							</div>
						</div>					
						<div class="col-md-4 form-inline form-inp-con">
							<div class="form-group form-normal">
								<label for="">班级：</label> 
								<input type="text" class="form-control inp-com" id="class" name="class"/>
							</div>
						</div>		
					</div>
				</form>
				<button type="button" class="btn btn-primary header-btn" name="searchInp">查询</button>
			</div>
		</div>
		<div class="sub-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header pull-right">
							<button type="button" auth-code="CoursePlan_PracticeArrange_Query_TeachingFaculty_Export" id="exportExcel" class="btn btn-success">导出</button>
							<input type="hidden" id="exportNumId" name="exportNumId" value="0">
						</div>
						
						<div class="box-body">
							<div class="scorll-box">
								<div class="table-box min1600">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="width55">序号</th>
												<th class="width60">年级</th>
												<th class="">院系</th>
												<th class="">专业</th>
												<th class="width75">环节号</th>
												<th class="width145">环节名称</th>
												<th class="width145">开课单位</th>
												<th class="width85">环节类别</th>
												<th class="width48">学分</th>
												<th class="width48">周数</th>
												<th class="width145">指导教师</th>
												<th class="">班级</th>
												<th class="width75">实践周次</th>
											</tr>
										</thead>
										<tbody id="tbodycontent">
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="pagination" class="pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容框架 结束 ------------------------------------------------------------>
</body>
</html>
<!-- jquery版本 -->
<script src="../../../../common/js/base/jquery/jquery-1.9.1.min.js"></script>
<script src="../../../../common/js/base/My97DatePicker/WdatePicker.js"></script>
<!-- bootstrap -->
<script src="../../../../common/js/base/bootstrap/bootstrap.js"></script>
<!-- Seajs 模块化开发，请一定遵守 -->
<script src="../../../../common/js/base/seajs/2.2.0/sea.js"></script>
<!-- 模块渲染template -->
<script src="../../../../common/js/base/jquery/jquery.tmpl.js"></script>
<!-- 分页 -->
<script src="../../../../common/js/base/core/page/pagination.js"></script>
<link href="../../../../common/js/base/core/page/pagination.css" rel="stylesheet" />
<!-- 验证 -->
<script src="../../../../common/js/base/jquery/jquery.validate.js"></script>
<script src="../../../../common/js/base/jquery/jquery.validate.custom.js"></script>
<!-- 列表内容 -->	
<script id="bodyContentImpl" type="text/x-jquery-tmpl">
  <tr class="tr-checkbox"> 
  	<td class="width55">${id}</td>
    <td class="width60">${grade}</td>    
    <td class="text-l" title=${departmentName}>${departmentName}</td>
    <td class="text-l" title=${majorName}>${majorName}</td>
    <td class="width75 text-l" title=${courseNo}>${courseNo}</td>
    <td class="text-l width145" title=${courseName}>${courseName}</td>
    <td class="text-l width145" title=${kdepartmentName}>${kdepartmentName}</td>
    <td class="width85">${tacheTypeName}</td>
    <td class="width48 text-r" title=${credit}>${credit}</td>
    <td class="width48 text-r" title=${weekNum}>${weekNum}</td>
 	{{if userIdLists}}
    <td class="text-l width145 open-message" data="{{each(i,item) userIdLists}}${item}#@#{{/each}}">
		{{each(i,item) userIdLists}}
			{{if i < 4}}
				<div class='ellipsis ellipsis-td'></div>${item}<br/>
			{{/if}}
		{{/each}}
	 </td>
    {{else}}
		<td class="text-l width145" data="">
		 </td>
    {{/if}} 
    <td class="text-l" title=${className}>${className}</td>
    <td class="width75 text-r" title=${practiceWeeks}>${practiceWeeks}</td>
  </tr> 
</script> 
<script type="text/javascript">
	seajs.config({
		paths : {
			"basePath":"../../../../common/js",
			"localPath" : "../js"
		}
	});
	seajs.use("localPath/searchGradeList", function(searchGradeList) {
		searchGradeList.init();
	});
</script>