body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../学生用户中心首页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:162px;
    top:236px;
    width:212px;
    height:254px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:260px;
}

.u1 {
    position:absolute;
    left:2px;
    top:119px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学生用户中心首页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:162px;
    top:510px;
    width:848px;
    height:140px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:854px;
    height:146px;
}

.u3 {
    position:absolute;
    left:2px;
    top:62px;
    width:844px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:182px;
    top:530px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../学生用户中心首页_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:76px;
}

.u5 {
    position:absolute;
    left:360px;
    top:564px;
    width:10px;
    height:76px;
    
}

.u6_line {
    background-image: url('../学生用户中心首页_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:76px;
}

.u6 {
    position:absolute;
    left:580px;
    top:564px;
    width:10px;
    height:76px;
    
}

.u7 {
    position:absolute;
    left:197px;
    top:570px;
    width:88px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:182px;
    top:604px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:390px;
    top:572px;
    width:175px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:400px;
    top:606px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:597px;
    top:574px;
    width:175px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:607px;
    top:608px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../学生用户中心首页_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:162px;
    top:680px;
    width:424px;
    height:240px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:430px;
    height:246px;
}

.u14 {
    position:absolute;
    left:2px;
    top:112px;
    width:420px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:177px;
    top:698px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../学生用户中心首页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:828px;
    top:318px;
    width:20px;
    height:11px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:17px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../foot_files/u79_normal.png');
}

.u18_container {
    position:absolute;
    left:50px;
    top:1295px;
    width:970px;
    height:98px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:104px;
}

.u19 {
    position:absolute;
    left:2px;
    top:41px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:242px;
    top:1320px;
    width:574px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../foot_files/u82_normal.png');
}

.u21_container {
    position:absolute;
    left:50px;
    top:1255px;
    width:970px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u23_container {
    position:absolute;
    left:306px;
    top:1261px;
    width:38px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:354px;
    top:1267px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u26_container {
    position:absolute;
    left:482px;
    top:1261px;
    width:38px;
    height:28px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:530px;
    top:1267px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../foot_files/u84_normal.png');
}

.u29_container {
    position:absolute;
    left:658px;
    top:1261px;
    width:38px;
    height:28px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:706px;
    top:1265px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:805px;
    top:577px;
    width:175px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:815px;
    top:611px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../学生用户中心首页_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:76px;
}

.u35 {
    position:absolute;
    left:800px;
    top:564px;
    width:10px;
    height:76px;
    
}

.u36_normal {
    background-image: url('../学生用户中心首页_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:586px;
    top:680px;
    width:423px;
    height:240px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:429px;
    height:246px;
}

.u37 {
    position:absolute;
    left:2px;
    top:112px;
    width:419px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:600px;
    top:698px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:606px;
    top:750px;
    width:123px;
    height:150px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u40 {
    position:absolute;
    left:2px;
    top:67px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:650px;
    top:816px;
    width:42px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:616px;
    top:759px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:616px;
    top:868px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1037px;
    top:859px;
    width:150px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u45_container {
    position:absolute;
    left:739px;
    top:750px;
    width:123px;
    height:150px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u46 {
    position:absolute;
    left:2px;
    top:67px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:783px;
    top:816px;
    width:42px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:749px;
    top:759px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:749px;
    top:868px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u50_container {
    position:absolute;
    left:872px;
    top:750px;
    width:123px;
    height:150px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u51 {
    position:absolute;
    left:2px;
    top:67px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:916px;
    top:816px;
    width:42px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:882px;
    top:759px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:882px;
    top:868px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u55_container {
    position:absolute;
    left:184px;
    top:750px;
    width:123px;
    height:150px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u57_container {
    position:absolute;
    left:317px;
    top:750px;
    width:123px;
    height:150px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../学生用户中心首页_files/u39_normal.png');
}

.u59_container {
    position:absolute;
    left:450px;
    top:750px;
    width:123px;
    height:150px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:156px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1050px;
    top:92px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u67_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u68 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u72_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u73 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u75_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u75_container {
    position:absolute;
    left:22px;
    top:0px;
    width:34px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:26px;
}

.u76 {
    position:absolute;
    left:3px;
    top:2px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u78_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u78_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u78_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u79 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u84 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u86_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u87 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u89_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u89_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u89_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u90 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u91_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u92 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u94_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u95 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u97_selected {
    background-image: url('../学生用户中心导航_files/u67_selected.png');
}

.u97_normal {
    background-image: url('../学生用户中心导航_files/u67_normal.png');
}

.u97_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u102_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u103 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u105_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:22px;
    top:0px;
    width:62px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u106 {
    position:absolute;
    left:3px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u109 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u112 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u115 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u117_normal {
    background-image: url('../学生中心头部_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:30px;
    top:36px;
    width:980px;
    height:154px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:160px;
}

.u118 {
    position:absolute;
    left:2px;
    top:69px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../学生中心头部_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:50px;
    top:61px;
    width:112px;
    height:105px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:111px;
}

.u120 {
    position:absolute;
    left:2px;
    top:43px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:186px;
    top:64px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:595px;
    top:106px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:730px;
    top:102px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../学生中心头部_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u124 {
    position:absolute;
    left:545px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u125_line {
    background-image: url('../学生中心头部_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u125 {
    position:absolute;
    left:692px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u126_line {
    background-image: url('../学生中心头部_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u126 {
    position:absolute;
    left:840px;
    top:50px;
    width:10px;
    height:130px;
    
}

.u127 {
    position:absolute;
    left:296px;
    top:69px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../学生中心头部_files/u128_normal.png');
}

.u128_container {
    position:absolute;
    left:454px;
    top:52px;
    width:51px;
    height:51px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
}

.u129 {
    position:absolute;
    left:2px;
    top:18px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../学生中心头部_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:738px;
    top:53px;
    width:45px;
    height:45px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:45px;
}

.u131 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../学生中心头部_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:890px;
    top:56px;
    width:40px;
    height:40px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u133 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:897px;
    top:103px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_line {
    background-image: url('../学生中心头部_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:130px;
}

.u135 {
    position:absolute;
    left:420px;
    top:47px;
    width:10px;
    height:130px;
    
}

.u136_normal {
    background-image: url('../学生中心头部_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:606px;
    top:55px;
    width:41px;
    height:41px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:41px;
}

.u137 {
    position:absolute;
    left:2px;
    top:12px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:466px;
    top:110px;
    width:63px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../学生中心头部_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:187px;
    top:90px;
    width:23px;
    height:22px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
}

.u140 {
    position:absolute;
    left:2px;
    top:3px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:218px;
    top:95px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:187px;
    top:117px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:185px;
    top:157px;
    width:240px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:271px;
    top:133px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u145 {
    position:absolute;
    left:1030px;
    top:210px;
    width:691px;
    height:501px;
    overflow:hidden;
}

#pd0u145 {
    position:absolute;
    left:0px;
    top:0px;
    width:691px;
    height:501px;
    
}

.u146_normal {
    background-image: url('../学生中心头部_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:10px;
    top:10px;
    width:660px;
    height:470px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:476px;
}

.u147 {
    position:absolute;
    left:2px;
    top:227px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../学生中心头部_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:30px;
    top:30px;
    width:207px;
    height:104px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:104px;
}

.u149 {
    position:absolute;
    left:2px;
    top:44px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../学生中心头部_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:44px;
    top:134px;
    width:180px;
    height:166px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:172px;
}

.u151 {
    position:absolute;
    left:2px;
    top:75px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:280px;
    top:44px;
    width:270px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:280px;
    top:86px;
    width:370px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../学生中心头部_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:620px;
    top:10px;
    width:50px;
    height:30px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u155 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u157 {
    position:absolute;
    left:875px;
    top:26px;
    width:136px;
    height:134px;
    overflow:hidden;
}

#pd0u157 {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:134px;
    
}

.u158_menu {
    background-image: url('../学生用户中心首页_files/u158_menu.png');
}

.u158_menu {
    position:absolute;
    left:-2px;
    top:-1px;
    width:140px;
    height:139px;
}

#u158_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:136px;
}

#u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:135px
}

.u160_mouseOver {
    background-image: url('../学生用户中心首页_files/u160_mouseOver.png');
}

.u160_normal {
    background-image: url('../学生用户中心首页_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:26px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u161 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_mouseOver {
    background-image: url('../学生用户中心首页_files/u160_mouseOver.png');
}

.u162_normal {
    background-image: url('../学生用户中心首页_files/u160_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:26px;
    width:131px;
    height:26px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u163 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_mouseOver {
    background-image: url('../学生用户中心首页_files/u160_mouseOver.png');
}

.u164_normal {
    background-image: url('../学生用户中心首页_files/u160_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:52px;
    width:131px;
    height:26px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u165 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_mouseOver {
    background-image: url('../学生用户中心首页_files/u160_mouseOver.png');
}

.u166_normal {
    background-image: url('../学生用户中心首页_files/u160_normal.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:78px;
    width:131px;
    height:26px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u167 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_mouseOver {
    background-image: url('../学生用户中心首页_files/u160_mouseOver.png');
}

.u168_normal {
    background-image: url('../学生用户中心首页_files/u160_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:104px;
    width:131px;
    height:26px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:32px;
}

.u169 {
    position:absolute;
    left:2px;
    top:5px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:182px;
    top:250px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_line {
    background-image: url('../学生用户中心首页_files/u171_line.png');
}

.u171_line {
    position:absolute;
    left:0px;
    top:4px;
    width:188px;
    height:3px;
}

.u171 {
    position:absolute;
    left:167px;
    top:346px;
    width:188px;
    height:10px;
    
}

.u172_normal {
    background-image: url('../学生用户中心首页_files/u172_normal.png');
}

.u172_container {
    position:absolute;
    left:285px;
    top:247px;
    width:82px;
    height:25px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:31px;
}

.u173 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_line {
    background-image: url('../学生用户中心首页_files/u174_line.png');
}

.u174_line {
    position:absolute;
    left:0px;
    top:4px;
    width:188px;
    height:3px;
}

.u174 {
    position:absolute;
    left:167px;
    top:279px;
    width:188px;
    height:10px;
    
}

.u175 {
    position:absolute;
    left:182px;
    top:299px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:306px;
    top:320px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:182px;
    top:320px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_line {
    background-image: url('../学生用户中心首页_files/u178_line.png');
}

.u178_line {
    position:absolute;
    left:0px;
    top:4px;
    width:188px;
    height:3px;
}

.u178 {
    position:absolute;
    left:167px;
    top:413px;
    width:188px;
    height:10px;
    
}

.u179 {
    position:absolute;
    left:182px;
    top:366px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:306px;
    top:387px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:182px;
    top:387px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:182px;
    top:433px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:306px;
    top:454px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:182px;
    top:454px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../学生用户中心首页_files/u0_normal.png');
}

.u185_container {
    position:absolute;
    left:374px;
    top:236px;
    width:212px;
    height:254px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:260px;
}

.u186 {
    position:absolute;
    left:2px;
    top:119px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:399px;
    top:250px;
    width:88px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_line {
    background-image: url('../学生用户中心首页_files/u188_line.png');
}

.u188_line {
    position:absolute;
    left:0px;
    top:4px;
    width:166px;
    height:3px;
}

.u188 {
    position:absolute;
    left:399px;
    top:279px;
    width:166px;
    height:10px;
    
}

.u189_normal {
    background-image: url('../学生用户中心首页_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:396px;
    top:334px;
    width:169px;
    height:58px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:64px;
}

.u190 {
    position:absolute;
    left:2px;
    top:21px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:411px;
    top:342px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:409px;
    top:364px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:400px;
    top:402px;
    width:208px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:399px;
    top:308px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../学生用户中心首页_files/u0_normal.png');
}

.u195_container {
    position:absolute;
    left:586px;
    top:236px;
    width:212px;
    height:254px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:260px;
}

.u196 {
    position:absolute;
    left:2px;
    top:119px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:609px;
    top:250px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_line {
    background-image: url('../学生用户中心首页_files/u198_line.png');
}

.u198_line {
    position:absolute;
    left:0px;
    top:4px;
    width:171px;
    height:3px;
}

.u198 {
    position:absolute;
    left:609px;
    top:279px;
    width:171px;
    height:10px;
    
}

.u199_normal {
    background-image: url('../学生用户中心首页_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:606px;
    top:334px;
    width:174px;
    height:58px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:64px;
}

.u200 {
    position:absolute;
    left:2px;
    top:21px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:621px;
    top:342px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:619px;
    top:364px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:606px;
    top:402px;
    width:121px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:609px;
    top:308px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../学生用户中心首页_files/u205_normal.png');
}

.u205_container {
    position:absolute;
    left:399px;
    top:450px;
    width:100px;
    height:25px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u206 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../学生用户中心首页_files/u205_normal.png');
}

.u207_container {
    position:absolute;
    left:606px;
    top:450px;
    width:100px;
    height:25px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u208 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../学生用户中心首页_files/u0_normal.png');
}

.u209_container {
    position:absolute;
    left:798px;
    top:236px;
    width:212px;
    height:254px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:260px;
}

.u210 {
    position:absolute;
    left:2px;
    top:119px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:823px;
    top:250px;
    width:108px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_line {
    background-image: url('../学生用户中心首页_files/u212_line.png');
}

.u212_line {
    position:absolute;
    left:0px;
    top:4px;
    width:172px;
    height:3px;
}

.u212 {
    position:absolute;
    left:823px;
    top:279px;
    width:172px;
    height:10px;
    
}

.u213 {
    position:absolute;
    left:892px;
    top:355px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:826px;
    top:327px;
    width:162px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:820px;
    top:299px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:922px;
    top:386px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:941px;
    top:253px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../学生端顶部_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:30px;
    top:0px;
    width:980px;
    height:26px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:32px;
}

.u219 {
    position:absolute;
    left:2px;
    top:5px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:810px;
    top:5px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../学生端顶部_files/u221_normal.png');
}

.u221_container {
    position:absolute;
    left:870px;
    top:6px;
    width:20px;
    height:16px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:22px;
}

.u222 {
    position:absolute;
    left:2px;
    top:-2px;
    width:16px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:35px;
    top:7px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../学生端顶部_files/u224_normal.png');
}

.u224_container {
    position:absolute;
    left:913px;
    top:2px;
    width:78px;
    height:23px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:29px;
}

.u225 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

