body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:1203px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:0px;
  width:438px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:434px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:511px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:656px;
  top:0px;
  width:144px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:73px;
  height:148px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:148px;
}
#u10 {
  position:absolute;
  left:2px;
  top:66px;
  width:69px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:73px;
  top:30px;
  width:438px;
  height:148px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:148px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:511px;
  top:30px;
  width:145px;
  height:148px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:148px;
}
#u14 {
  position:absolute;
  left:2px;
  top:66px;
  width:141px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:656px;
  top:30px;
  width:144px;
  height:148px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:148px;
}
#u16 {
  position:absolute;
  left:2px;
  top:66px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:178px;
  width:73px;
  height:31px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:73px;
  top:178px;
  width:438px;
  height:31px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:434px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:511px;
  top:178px;
  width:145px;
  height:31px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:656px;
  top:178px;
  width:144px;
  height:31px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:209px;
  width:73px;
  height:78px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:78px;
}
#u26 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:73px;
  top:209px;
  width:438px;
  height:78px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:78px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:434px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:511px;
  top:209px;
  width:145px;
  height:78px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:78px;
}
#u30 {
  position:absolute;
  left:2px;
  top:31px;
  width:141px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:656px;
  top:209px;
  width:144px;
  height:78px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:78px;
}
#u32 {
  position:absolute;
  left:2px;
  top:31px;
  width:140px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:287px;
  width:73px;
  height:55px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:55px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:73px;
  top:287px;
  width:438px;
  height:55px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:55px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:511px;
  top:287px;
  width:145px;
  height:55px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:55px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:656px;
  top:287px;
  width:144px;
  height:55px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:342px;
  width:73px;
  height:55px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:55px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:73px;
  top:342px;
  width:438px;
  height:55px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:55px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:511px;
  top:342px;
  width:145px;
  height:55px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:55px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:656px;
  top:342px;
  width:144px;
  height:55px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:397px;
  width:73px;
  height:31px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:73px;
  top:397px;
  width:438px;
  height:31px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:434px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:511px;
  top:397px;
  width:145px;
  height:31px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:656px;
  top:397px;
  width:144px;
  height:31px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:428px;
  width:73px;
  height:74px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:74px;
}
#u58 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:73px;
  top:428px;
  width:438px;
  height:74px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:74px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:434px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:511px;
  top:428px;
  width:145px;
  height:74px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:74px;
}
#u62 {
  position:absolute;
  left:2px;
  top:29px;
  width:141px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:656px;
  top:428px;
  width:144px;
  height:74px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:74px;
}
#u64 {
  position:absolute;
  left:2px;
  top:29px;
  width:140px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:502px;
  width:73px;
  height:36px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:73px;
  top:502px;
  width:438px;
  height:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:511px;
  top:502px;
  width:145px;
  height:36px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:656px;
  top:502px;
  width:144px;
  height:36px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:538px;
  width:73px;
  height:36px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:73px;
  top:538px;
  width:438px;
  height:36px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:511px;
  top:538px;
  width:145px;
  height:36px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:656px;
  top:538px;
  width:144px;
  height:36px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:574px;
  width:73px;
  height:68px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:68px;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:73px;
  top:574px;
  width:438px;
  height:68px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:68px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:511px;
  top:574px;
  width:145px;
  height:68px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u86 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:656px;
  top:574px;
  width:144px;
  height:68px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:68px;
}
#u88 {
  position:absolute;
  left:2px;
  top:26px;
  width:140px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:642px;
  width:73px;
  height:132px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:132px;
}
#u90 {
  position:absolute;
  left:2px;
  top:58px;
  width:69px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:73px;
  top:642px;
  width:438px;
  height:132px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:132px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:511px;
  top:642px;
  width:145px;
  height:132px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:132px;
}
#u94 {
  position:absolute;
  left:2px;
  top:58px;
  width:141px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:656px;
  top:642px;
  width:144px;
  height:132px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:132px;
}
#u96 {
  position:absolute;
  left:2px;
  top:58px;
  width:140px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:774px;
  width:73px;
  height:47px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:47px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:69px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:73px;
  top:774px;
  width:438px;
  height:47px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:47px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:434px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:511px;
  top:774px;
  width:145px;
  height:47px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:47px;
}
#u102 {
  position:absolute;
  left:2px;
  top:16px;
  width:141px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:656px;
  top:774px;
  width:144px;
  height:47px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:47px;
}
#u104 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:821px;
  width:73px;
  height:68px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:68px;
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:73px;
  top:821px;
  width:438px;
  height:68px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:68px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:511px;
  top:821px;
  width:145px;
  height:68px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u110 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:656px;
  top:821px;
  width:144px;
  height:68px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:68px;
}
#u112 {
  position:absolute;
  left:2px;
  top:26px;
  width:140px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:889px;
  width:73px;
  height:68px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:68px;
}
#u114 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:73px;
  top:889px;
  width:438px;
  height:68px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:68px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:511px;
  top:889px;
  width:145px;
  height:68px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u118 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:656px;
  top:889px;
  width:144px;
  height:68px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:68px;
}
#u120 {
  position:absolute;
  left:2px;
  top:26px;
  width:140px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:957px;
  width:73px;
  height:100px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:100px;
}
#u122 {
  position:absolute;
  left:2px;
  top:42px;
  width:69px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:73px;
  top:957px;
  width:438px;
  height:100px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:100px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:434px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:511px;
  top:957px;
  width:145px;
  height:100px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:100px;
}
#u126 {
  position:absolute;
  left:2px;
  top:42px;
  width:141px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:656px;
  top:957px;
  width:144px;
  height:100px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:100px;
}
#u128 {
  position:absolute;
  left:2px;
  top:42px;
  width:140px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:1057px;
  width:73px;
  height:37px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:73px;
  top:1057px;
  width:438px;
  height:37px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:37px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:434px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:511px;
  top:1057px;
  width:145px;
  height:37px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:656px;
  top:1057px;
  width:144px;
  height:37px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:1094px;
  width:73px;
  height:52px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u138 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:73px;
  top:1094px;
  width:438px;
  height:52px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:52px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:434px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:511px;
  top:1094px;
  width:145px;
  height:52px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u142 {
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:656px;
  top:1094px;
  width:144px;
  height:52px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u144 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:1146px;
  width:73px;
  height:52px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u146 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:73px;
  top:1146px;
  width:438px;
  height:52px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:52px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:434px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:511px;
  top:1146px;
  width:145px;
  height:52px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u150 {
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:656px;
  top:1146px;
  width:144px;
  height:52px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u152 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  word-wrap:break-word;
}
