body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:484px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:247px;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:247px;
}
#u409 {
  position:absolute;
  left:2px;
  top:116px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
